/* Helper classes */



/* Listing 'show more' trigger */

.showmore, .nomore{
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  transition: opacity .2s;

  &:hover{
    opacity: .8;
  }
  a, span{
    display: block;
  }
}

/* Max select input fix */

select{
  -webkit-appearance: none; //Mac SELECT input padding fix
}


//Primary & Secondary colors defaults

.primary-fill-color{
  background-color: $primary-color;
}
.primary-stroke-color{
  color: $primary-color;
}

.secondary-fill-color{
  background-color: $secondary-color;
}
.secondary-stroke-color{
  color: $secondary-color;
}

//Page layout classes

.container {
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;
}

.page-width{
  max-width: $container-max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nocollapse {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.paddingless
{
  padding: 0;
}

.align-r{
  text-align: right;
}
.align-l{
  text-align: left;
}

.transall {
  transition: all 1s ease;
}

//.nopadding {
//  padding: 0;
//}

.row-nopadding{
  //  margin-left: 0;
  //  margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* Fade in movers */

[data-move]{
  display: none;
  opacity: 0;
  transition: opacity .33s ease 1s;

  &.hasMoved{
    display: initial;
    opacity: 1;
  }
}

/* Backgrounds */

.bg-white{
  background-color: white;
}

/* Smooth invisible transition */

.faded-out{
  opacity: 0;
}

/* Titles */

h1, h2, h3, h4, h5{
  font-weight: bold;
  text-transform: uppercase;
}

header h1{
  @extend .widget_title;
}

.widget_title{
  margin: 10px 0 30px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat';
}

.blockUI {
  font-size: 0;

  img{
    display: none !important;
  }

  &.blockOverlay {
    opacity: 1 !important;
    background-color: rgba(black, .1) !important;
    background-image: none !important;
  }

  &.blockElement{
    margin: 50px;
    height: 28px !important;
    width: 28px !important;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #444 !important;
    border-right-color: transparent !important;
    border-radius: 50%;
    background: transparent !important;
  }

  @keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }

}

.kd-icon{
  color: $light-text;
  text-shadow: 0 0 2px black;
}

.kd-button{
  display: block;
  padding: 12px;
  color: currentColor;
  text-transform: uppercase;
  text-align: center;
  outline: 2px solid;
  font-size: 18px;
  text-decoration: none;
  will-change: outline;
  transition: outline .2s;

  &:hover, &:focus{
    text-decoration: none;
    color: inherit;
    outline: 4px solid;
  }

  &.filled {
    color: #fff;
  }
}


.inline-b{
  display: inline-block;
}

.bold{
  font-weight: bold;
}

/* Rating stars */

.ratingstars {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: $secondary-color;
}
.reviewrating-5::before {
  content:"\2605 \2605 \2605 \2605 \2605";
}
.reviewrating-4::before {
  content:"\2605 \2605 \2605 \2605";
}
.reviewrating-3::before {
  content:"\2605 \2605 \2605";
}
.reviewrating-2::before {
  content:"\2605 \26055";
}
.reviewrating-1::before {
  content:"\2605";
}

/* Alignment helpers */

.align_left{
  float: left;
}
.align_right{
  float: right;
}
.align_center{
  margin: 0 auto;
  text-align: center;
}

/* Responsive alignment utils */

.xs-left {
  text-align: left;
}
.xs-right {
  text-align: right;
}
.xs-center {
  text-align: center;
}


@media (min-width: $bp-sm) {
  .global-wrapper{
    padding-top: 0px;
  }
  .sm-left {
    text-align: left;
  }
  .sm-right {
    text-align: right;
  }
  .sm-center {
    text-align: center;
  }
}

@media (min-width: $bp-md) {
  .md-left {
    text-align: left;
  }
  .md-right {
    text-align: right;
  }
  .md-center {
    text-align: center;
  }
}

@media (min-width: $bp-lg) {
  .lg-left {
    text-align: left;
  }
  .lg-right {
    text-align: right;
  }
  .lg-center {
    text-align: center;
  }
}

/* Widget common */

.kd-widget{
  padding: 15px;
}

.kd-widget > .title{
  font-size: 30px;
  font-weight: 600;
  color: $secondary-color;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

/* Paddings */

.pad-15{padding: 15px;}
.pad-20{padding: 20px;}
.pad-30{padding: 30px;}

.pad-x-15{padding: 0 15px;}
.pad-x-20{padding: 0 20px;}
.pad-x-30{padding: 0 30px;}

.pad-y-15{padding: 15px 0;}
.pad-y-20{padding: 20px 0;}
.pad-y-30{padding: 30px 0;}

.xs-nopad{
  @media (max-width: 768px){
    padding: 0;
  }
}


/* Margins */

.m-r-10{margin-right: 10px;}
.m-r-15{margin-right: 15px;}
.m-r-30{margin-right: 30px;}

.m-l-10{margin-left: 10px;}
.m-l-15{margin-left: 15px;}
.m-l-30{margin-left: 30px;}

.m-t-15p{
  margin-top: 15%;
}

.m-auto{
  margin: auto;
}

/* SiteSelector Flags */

.flag{display: inline-block; padding: 0; width:15px;height:11px;background:url(../img/flags.png) no-repeat}.flag.flag-af{background-position:-48px 0}.flag.flag-af-ZA{background-position:-128px -165px}.flag.flag-sq,.flag.flag-sq-AL{background-position:-96px 0}.flag.flag-ar{background-position:-208px -33px}.flag.flag-ar-DZ{background-position:-160px -33px}.flag.flag-ar-BH{background-position:-96px -11px}.flag.flag-ar-EG{background-position:-208px -33px}.flag.flag-ar-IQ{background-position:-160px -66px}.flag.flag-ar-JO{background-position:0 -77px}.flag.flag-ar-KW{background-position:-176px -77px}.flag.flag-ar-LB{background-position:-240px -77px}.flag.flag-ar-LY{background-position:-128px -88px}.flag.flag-ar-MA{background-position:-144px -88px}.flag.flag-ar-OM{background-position:-176px -110px}.flag.flag-ar-QA{background-position:-160px -121px}.flag.flag-ar-SA{background-position:0 -132px}.flag.flag-ar-SY{background-position:-64px -143px}.flag.flag-ar-TN{background-position:-240px -143px}.flag.flag-ar-AE{background-position:-32px 0}.flag.flag-ar-YE{background-position:-96px -165px}.flag.flag-hy,.flag.flag-hy-AM{background-position:-112px 0}.flag.flag-az,.flag.flag-az-Cyrl-AZ,.flag.flag-az-Latn-AZ{background-position:-240px 0}.flag.flag-eu,.flag.flag-eu-ES{background-position:-16px -44px}.flag.flag-be{background-position:-48px -11px}.flag.flag-be-BY{background-position:-16px -22px}.flag.flag-bg,.flag.flag-bg-BG{background-position:-80px -11px}.flag.flag-ca,.flag.flag-ca-ES{background-position:-64px -22px}.flag.flag-zh-HK{background-position:-208px -55px}.flag.flag-zh-MO{background-position:-48px -99px}.flag.flag-zh-CHS,.flag.flag-zh-CN{background-position:-208px -22px}.flag.flag-zh-SG{background-position:-96px -132px}.flag.flag-zh-TW{background-position:-64px -154px}.flag.flag-zh-CHT{background-position:-208px -22px}.flag.flag-hr,.flag.flag-hr-HR{background-position:0 -66px}.flag.flag-cs-CZ{background-position:-64px -33px}.flag.flag-da,.flag.flag-da-DK{background-position:-112px -33px}.flag.flag-dv,.flag.flag-dv-MV{background-position:-160px -99px}.flag.flag-nl{background-position:-80px -110px}.flag.flag-nl-BE{background-position:-48px -11px}.flag.flag-nl-NL{background-position:-80px -110px}.flag.flag-en{background-position:-144px -154px}.flag.flag-en-AU{background-position:-208px 0}.flag.flag-en-BZ{background-position:-32px -22px}.flag.flag-en-CA{background-position:-48px -22px}.flag.flag-en-029{background-position:-144px -154px}.flag.flag-en-IE{background-position:-80px -66px}.flag.flag-en-JM{background-position:-240px -66px}.flag.flag-en-NZ{background-position:-160px -110px}.flag.flag-en-PH{background-position:0 -121px}.flag.flag-en-ZA{background-position:-128px -165px}.flag.flag-en-TT{background-position:-32px -154px}.flag.flag-en-GB{background-position:-176px -44px}.flag.flag-en-US{background-position:-144px -154px}.flag.flag-en-ZW{background-position:-176px -165px}.flag.flag-et,.flag.flag-et-EE{background-position:-192px -33px}.flag.flag-fo,.flag.flag-fo-FO{background-position:-128px -44px}.flag.flag-fa,.flag.flag-fa-IR{background-position:-176px -66px}.flag.flag-fi,.flag.flag-fi-FI{background-position:-64px -44px}.flag.flag-fr{background-position:-144px -44px}.flag.flag-fr-BE{background-position:-48px -11px}.flag.flag-fr-CA{background-position:-48px -22px}.flag.flag-fr-FR{background-position:-144px -44px}.flag.flag-fr-LU{background-position:-96px -88px}.flag.flag-fr-MC{background-position:-160px -88px}.flag.flag-fr-CH{background-position:-128px -22px}.flag.flag-gl,.flag.flag-gl-ES{background-position:-16px -44px}.flag.flag-ka,.flag.flag-ka-GE{background-position:-208px -44px}.flag.flag-de{background-position:-80px -33px}.flag.flag-de-AT{background-position:-192px 0}.flag.flag-de-DE{background-position:-80px -33px}.flag.flag-de-LI{background-position:-16px -88px}.flag.flag-de-LU{background-position:-96px -88px}.flag.flag-de-CH{background-position:-128px -22px}.flag.flag-el,.flag.flag-el-GR{background-position:-112px -55px}.flag.flag-gu,.flag.flag-gu-IN{background-position:-128px -66px}.flag.flag-he,.flag.flag-he-IL{background-position:-96px -66px}.flag.flag-hi,.flag.flag-hi-IN{background-position:-128px -66px}.flag.flag-hu,.flag.flag-hu-HU{background-position:-32px -66px}.flag.flag-is,.flag.flag-is-IS{background-position:-192px -66px}.flag.flag-id,.flag.flag-id-ID{background-position:-64px -66px}.flag.flag-it,.flag.flag-it-IT{background-position:-208px -66px}.flag.flag-it-CH{background-position:-128px -22px}.flag.flag-ja,.flag.flag-ja-JP{background-position:-16px -77px}.flag.flag-kn,.flag.flag-kn-IN{background-position:-128px -66px}.flag.flag-kk,.flag.flag-kk-KZ{background-position:-208px -77px}.flag.flag-kok,.flag.flag-kok-IN{background-position:-128px -66px}.flag.flag-ko,.flag.flag-ko-KR{background-position:-144px -77px}.flag.flag-ky,.flag.flag-ky-KG{background-position:-48px -77px}.flag.flag-lv,.flag.flag-lv-LV{background-position:-112px -88px}.flag.flag-lt,.flag.flag-lt-LT{background-position:-80px -88px}.flag.flag-mk,.flag.flag-mk-MK{background-position:-240px -88px}.flag.flag-ms{background-position:-208px -99px}.flag.flag-ms-BN{background-position:-160px -11px}.flag.flag-ms-MY{background-position:-208px -99px}.flag.flag-mr,.flag.flag-mr-IN{background-position:-128px -66px}.flag.flag-mn,.flag.flag-mn-MN{background-position:-32px -99px}.flag.flag-nb-NO,.flag.flag-nn-NO,.flag.flag-no{background-position:-96px -110px}.flag.flag-pl,.flag.flag-pl-PL{background-position:-32px -121px}.flag.flag-pt{background-position:-112px -121px}.flag.flag-pt-BR{background-position:-192px -11px}.flag.flag-pt-PT{background-position:-112px -121px}.flag.flag-pa,.flag.flag-pa-IN{background-position:-128px -66px}.flag.flag-ro,.flag.flag-ro-RO{background-position:-192px -121px}.flag.flag-ru,.flag.flag-ru-RU{background-position:-224px -121px}.flag.flag-sa,.flag.flag-sa-IN{background-position:-128px -66px}.flag.flag-sr-Cyrl-CS,.flag.flag-sr-Latn-CS{background-position:-240px -132px}.flag.flag-sk,.flag.flag-sk-SK,.flag.flag-sl{background-position:-144px -132px}.flag.flag-sl-SI{background-position:-128px -132px}.flag.flag-es{background-position:-16px -44px}.flag.flag-es-AR{background-position:-160px 0}.flag.flag-es-BO{background-position:-176px -11px}.flag.flag-es-CL{background-position:-176px -22px}.flag.flag-es-CO{background-position:-224px -22px}.flag.flag-es-CR{background-position:-240px -22px}.flag.flag-es-DO{background-position:-144px -33px}.flag.flag-es-EC{background-position:-176px -33px}.flag.flag-es-SV{background-position:-32px -143px}.flag.flag-es-GT{background-position:-144px -55px}.flag.flag-es-HN{background-position:-240px -55px}.flag.flag-es-MX{background-position:-192px -99px}.flag.flag-es-NI{background-position:-64px -110px}.flag.flag-es-PA{background-position:-192px -110px}.flag.flag-es-PY{background-position:-144px -121px}.flag.flag-es-PE{background-position:-208px -110px}.flag.flag-es-PR{background-position:-80px -121px}.flag.flag-es-ES{background-position:-16px -44px}.flag.flag-es-UY{background-position:-160px -154px}.flag.flag-es-VE{background-position:-224px -154px}.flag.flag-sw,.flag.flag-sw-KE{background-position:-32px -77px}.flag.flag-sv{background-position:-80px -132px}.flag.flag-sv-FI{background-position:-64px -44px}.flag.flag-sv-SE{background-position:-80px -132px}.flag.flag-syr,.flag.flag-syr-SY{background-position:-64px -143px}.flag.flag-ta,.flag.flag-ta-IN{background-position:-128px -66px}.flag.flag-tt,.flag.flag-tt-RU{background-position:-224px -121px}.flag.flag-te,.flag.flag-te-IN{background-position:-128px -66px}.flag.flag-th,.flag.flag-th-TH{background-position:-160px -143px}.flag.flag-tr,.flag.flag-tr-TR{background-position:-16px -154px}.flag.flag-uk,.flag.flag-uk-UA{background-position:-96px -154px}.flag.flag-ur,.flag.flag-ur-PK{background-position:-16px -121px}.flag.flag-uz,.flag.flag-uz-Cyrl-UZ,.flag.flag-uz-Latn-UZ{background-position:-176px -154px}.flag.flag-vi,.flag.flag-vi-VN{background-position:-16px -16px}
