/**
 * Market areas default tempalte
 */
.market-areas-default-template
{
    /* hero */
    .hero
    {

        width: 100%;
        position: relative;
        min-height: 200px;

        .center
        {
            position: absolute;
            z-index: 200;
            width: 95%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 90%;


            /* The title */
            h1
            {
                text-align: center;
                position: absolute;
                width: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1em;
                margin: auto;
                max-width: 100%;
                color: rgba(white, 0.8);
            }
        }

        /* Description */
        .description
        {
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(white, 0.8);
            padding: 20px;
            box-sizing: border-box;
            max-height: 200px;
            overflow-y: auto;

        }

        /* Slides */
        .swiper-slide
        {
            width: 100%;
            height: 600px;

            background-position: center;
            background-size: cover;
        }

        .swiper-pagination,
        .swiper-button-prev,
        .swiper-button-next
        {
            z-index: 201;
        }
    }


    /* properties and locations */
    .widget-area-for-ppt-search
    {
        margin-top: 30px;
        .pointer
        {
            cursor: pointer;
        }

        /* TABS */
        .tab-selector
        {
            li
            {
                display: inline-block;
                a
                {
                    display: block;
                    padding: 10px 20px;
                }
            }
        }

        .location-list,
        .property-list
        {
            margin-top: 30px;
            display: none;
            &.active
            {
                display: block;
            }

            .property-box
            {
                border-bottom: 1px solid #999;
                padding: 10px 0;
                img.ppt-thumbnail
                {
                    max-width: 150px;
                    margin-right: 20px;
                }
                .ppt-name
                {
                    font-size: 16px;
                }

                > *
                {
                    display: inline-block;
                    vertical-align: middle;
                }

                .min-rate
                {
                    float: right;
                }
            }

            .location-box
            {
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                width: calc(100% / 3 - 40px);
                min-height: 130px;
                margin-right: 20px;
                margin-bottom: 20px;
                padding: 20px;
                background-color: #008899;

                .title
                {
                    color: #fff;
                }

                &:nth-child(3n+3)
                {
                    margin-right: 0;
                }

            }
        }
    }
}
