
.list-property{
  margin-bottom: 25px;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;

  .image{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;

  }
  .info{
    position: relative;
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;

    & > *{
      padding-left: 10px;
    }
    .top{
      position: relative;
      border-bottom: 1px solid #eee;
      font-size: 0;
      .type{
        font-size: 12px;
      }
      .beds, .location{
        display: inline-block;
        vertical-align: top;
        width: auto;
        padding: 8px 0;
        padding-right: 10px;

        &.location{
          padding: 8px 10px;
          border-left: 1px solid #eee;
          font-size: 12px;
        }
      }
    }
    .title{
      white-space: nowrap;
      margin-bottom: 0;
    }
    .desc{
      padding: 8px 10px;
    }

    .bottom{
      width: 100%;
      font-size: 0;
      border-top: 1px solid #eee;

      .price, .seeDetails{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 12px;
        padding: 8px 0;

        &.seeDetails{
          background-color: #444;
          color: white;
          text-align: center;

          &:hover{
            background-color: #555;
          }
        }
      }

      .price{
        & > div{
          display: inline-block;
        }
      }
      .tag{
        margin-right: 10px;
      }
    }
  }

  .rate-warning{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 11px;
    padding: 5px 0;
    line-height: 13px;
  }

  @media screen and (min-width: $bp-sm){

    height: 200px;
    .image{
      width: 30%;
    }
    .info{
      width: 70%;
      height: 100%;

      .top .beds{
        font-size: 12px;
      }

      .desc{
        max-height: 105px;
        overflow-y: auto;
      }

      .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
      }

    }
  }
}

body.page-template-search-page{

  .container{
    position: relative;
    padding: 0;
  }

  .split-search{

    &.listView{
      .propContainer{
        width: 100% !important;
      }
      .mapContainer{
        width: 0 !important;
      }
    }
  }

  .map{
    position: relative;
    height: 400px;

    & > div{
      width: 100%;
      height: 100%;
      background-color: rgb(229, 227, 223);
    }

    #mapContainer{
      width: 100%;
      height: 100%;
    }

    #resetMap{
      position: absolute;
      z-index: 990;
      width: 57px;
      height: 57px;
      top: 0;
      right: 0;
      cursor: pointer;
      background-color: rgba(black, .15);
      text-align: center;
      line-height: 57px;
      font-size: 32px;
      transition: font-size .1s;

      &:hover{
        font-size: 34px;
      }
      &:active{
        font-size: 34px;
      }
    }
  }

  .available{
    padding: 10px 15px;
    font-size: 18px;
    text-align: right;
    line-height: 34px;

    span{
      float: left;
    }

    a{
      font-size: 12px;
      vertical-align: middle;
      margin-left: 20px;
    }
  }

  .listProps{
    .property{
      @extend .list-property;
    }
  }

  .mapContainer{
    padding: 0;

    .loader{
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: rgba(white, .5);
      opacity: 1;
      transition: opacity .5s ease .2s;

      &.hidden{
        opacity: 0;
      }

      .bar{
        height: 100%;
        width: 0%;
        transition: width .3s ease .3s;
      }
    }
  }

  .mapProps{
    padding: 0;
    .available{
      padding-left: 30px;
      padding-right: 15px;
    }

    #mapPropertiesContainer.loading{
      opacity: .5;
      transition: opacity .33s;
    }

    .property{
      font-family: 'Open Sans';
      margin-bottom: 15px;

      &:hover{
        .viewInMap{
          opacity: 1;
        }
      }

      .viewInMap{
        display: none;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 15px;
        width: 50px;
        height: 50px;
        background-color: $primary-color;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACC0lEQVRYR81X7TEEURDsjgARcBEgAkSACLgInAgQASJABIgAGVwG7iJABKOat1Xr3Zv3cUuV+bvz0W9memaWaBAzWwWwD+AAwAaArWA+BTAD8ADgkeR7rVvWKprZMYBLAAKREwWfkLyr8V0EEF59E15d47PTUTbGpWzUAFB6N1si93SnJLdztlkAZnYL4GjJ4J3ZLcmx58MFYGa7AJ4cQ9VXjp/1PeiqRzywe51u7C8HQM53EgAOSaq+CxIaVf0Si5gh5ixIEkBovLeE/inJq1xJzGwS2BKrraUa0gOgdMYvmZMU94tiZpoJ65GiGKGe+iEegHMAZ5HuHUkBK4rTvBck5XdpAEkHKTRmlnrAYADXJFXfovxGBtSx91GkGclRMfo3LVM9kKTi/2SBXmlm4ro2Xyy5OZDKnOzb5kAAkKJiB0Z0Uk9oTwis1vIJAI8lSQrKtrQLUrWsaYO+TnZ+lAB4U60FRHZ6lgDo+FAWVloi9nQ/dDnlboKaeyA1VGrxFIdXDYBlszDXzTj4IqpghJcNt/P7BsUMdMrOdPOCV2/OFgDekEmBcIdVrFwNIJTCu5L6fl9I6pyrklYAOkheC55HJEXdKmkCELKQo2WRdoNKEACIltoB8clVRbvBAAKI1Mnunt65WjSXoEfL/rp2122pEYYA6CakYmTn/Z9kIJTi62fD+1EpvV7fPwE2COAht9GKbwAAAABJRU5ErkJggg==');
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity .33s;

        &:hover{
          box-shadow: 0 0 5px 0 rgba(black, .15) inset;
        }
        &:active{
          box-shadow: 0 0 10px 0 rgba(black, .33) inset;
        }
      }

      .image{
        position: relative;
        display: block;
        width: 100%;
        background-color: #e9e9e9;
        background-size: cover;
        background-position: center;
        cursor: pointer;

        &::before{
          display:block;
          content: '';
          padding-top: 66.66%;
        }

        .from{
          position: absolute;
          bottom: 20px;
          right: 0;
          background-color: $secondary-color;
          color: $light-text;
          padding: 8px 10px;

          .tag{
            font-size: 12px;
          }
          .price{
            font-weight: bold;
            font-size: 14px;
          }
        }
      }

      $kd-search-prop-arrow-size: 60px;
      .info{
        position: relative;
        font-size: 14px;
        color: $light-gray;

        .title{
          font-size: 18px;
          margin-bottom: 5px;
          color: initial;
        }

        i{
          display: block;
          position: absolute;
          right: 0;
          top: calc(50% - #{$kd-search-prop-arrow-size} / 2);
          height: $kd-search-prop-arrow-size;
          width: $kd-search-prop-arrow-size;
          transform: translateX(-15px);
          line-height: $kd-search-prop-arrow-size;
          font-size: $kd-search-prop-arrow-size;
          transition: transform .2s;
          will-change: transform;
        }
      }

      &:hover, &:active{
        .info i{
          transform: translateX(0);
        }
      }
    }
  }

  .prop-infowindow{
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 5px;
    
    .image{
      position: relative;
      display: block;
      height: 200px;
      width: 300px;
      background-color: #e9e9e9;
      background-size: cover;
      background-position: center;
    }

    .info {
      position: relative;
      font-size: 14px;
      color: $light-gray;

      .title {
        width: 300px;
        font-size: 18px;
        margin-bottom: 5px;
        color: initial;
      }
    }
  }

  @media screen and (min-width: $bp-md){
    .container{
      margin-top: 15px;
    }

    .map{
      display: block;
      height: 625px;
    }

    .available{
      border-top: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
    }

    .listProps{
      #propertiesContainer{
        padding-top: 15px;
      }
    }

    .mapProps{
      height: 625px;

      .top{
        padding: 0;
      }

      .bottom {
        height: 570px;
        overflow: auto;
        padding: 30px 15px 15px;

        .row{
          margin: 0;
        }

        .property {
          min-height: 300px;
          .viewInMap{
            display: block;
          }
          .info {
            i {
              display: none;
            }
          }
        }
      }
    }
  }
}