body.dragging, body.dragging * {
  cursor: move !important;
}
ol
{
  margin: 0;
}

ol ol
{
  margin-left: 20px;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.sortable li
{
  background: #fff;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
.button.button-marketarea
{
  background: #008899;
  color: #fff;
  border: none;
}
.button.button-marketarea:hover
{
  background: #0088ff;
  color: #fff;
}

/* Market areas locations and properties */
.market-areas-sorting
{
  font-size: 0;
}
.locations-list,
.properties-list
{
  display: block;
  font-size: 14px;
  vertical-align: top;
  margin-bottom: 10px;
}
.locations-list .list,
.properties-list .list{
  overflow: auto;
}
.locations-list h3
{
  padding-right:15px;
}
.locations-list h3 input#search-locations
{
  width: 100%;
  margin-top: 10px;
}
.properties-list h3
{
  padding-right:15px;
}
.properties-list h3 #search-properties
{
  width: 100%;
  margin-top: 10px;
}
.ma-item
{
  font-size: 0;
}
.prop-item .button,
.ma-item .button
{
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.prop-list-parent .prop-item .button
{
  max-width: calc(100% - 20px);
}
.prop-item input[type="checkbox"]
{
  width: auto;
  display: inline-block;
}
.sources
{
  width: calc(100%/3 * 2);
  float: left;
}
.locations-list
{
  display: inline-block;
  width: 30%;
}
.properties-list
{
  display: inline-block;
  width: 70%;
}
.locations-list li,
.properties-list li
{
  display: block;
  border: none!important;
  padding: 0!important;
}
.search-locations-select
{
  width: 100%;
  display: block;
  margin: 5px auto;
}
/* To save */
.user-list
{
  display:  block;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
  width: calc(100%/3);
  float: right;
  font-size: 14px;
}

#market_area_props_n_areas::after
{
  content: '';
  display: block;
  clear: both;
}
/* Market areas tree list */
.drop-here .market-areas-tree
{
  padding: 10px;
  background: #dfdfdf;
  min-height: 20em;
  color: #999;
  margin-top: 10px;
  margin-bottom: 10px;
}
.to-save li
{
  display: block!important;
}
.to-save li input[type="checkbox"]
{
  display: none;
}

/* Button colors by location */
.button.button-marketarea.Country,
span.Country
{
  background: #ed1c24;
}
.button.button-marketarea.City,
span.City
{
  background: #2e3192;
}
.button.button-marketarea.County,
span.County
{
  background: orange;
}
.button.button-marketarea.State,
span.State
{
  background: #00a651;
}
.button.button-marketarea.Region,
span.Region
{
  background: #10b661;
}
.button.button-marketarea.Neighborhood,
span.Neighborhood
{
  background: #f26522;
}
/* Color legend */
.legend li
{
  margin-bottom: 5px;
  display: block;
}
.legend span
{
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
}
.button.button-marketarea,.edit-name,.button-property
{
  display: block;
  width:100%;
  font-size: 12px!important;
}
.to-save a.active-container::before
{
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0a4";
  margin-right: 10px;
}
.add-selected
{
  float: right;
  margin-right: 15px!important;
}
.edit-name
{
  border: none;
  border-radius: 3px;
  margin: 2px auto;
  width: 100%;
}

/*===============
SAVE BUTTON
===============*/
.button-save
{
  background: green!important;
  float: right;
}
