
<script id="tmpl-booking-makebooking-masterlayout" type="text/html">
        {{#result}}
        <div class="module shadow-border">
            <div class="row-fluid">
                <header class="pagination-centered pd">
                    <h1 class="widget_title">{{textdata.Fast Secure Online Booking}}</h1>
                    <p class="booked_prop">
                        <a href="{{&ContextData.SEO.DetailURL}}"><strong>{{Headline}}</strong></a><span class="hidden-phone">&nbsp;-&nbsp;{{Type}}
                        {{#Bedrooms}}&nbsp;/&nbsp;{{textdata.Beds}}&nbsp;{{Bedrooms}}{{/Bedrooms}}
                        {{#Bathrooms}}&nbsp;/&nbsp;{{textdata.Baths}}&nbsp;{{Bathrooms}}{{/Bathrooms}}
                        {{#Sleeps}}&nbsp;/&nbsp;{{textdata.Sleeps}}&nbsp;{{Sleeps}}{{/Sleeps}}</span>
                    </p>
                    <div class="booking-prop-img col-xs-12">
                        <a href="{{&ContextData.SEO.DetailURL}}" style="background-image: url('{{&PrimaryImage.OriginalURL}}')"></a>
                    </div>
                </header>
                <div class="booking-page bordersolid">
                    <article class="col-xs-8 booking-form">
                        <div class="form-horizontal pd">
                            <div id="renter"></div>
                            <hr />
                            <div id="creditcard"></div>
                            <hr />
                            <div id="accept"></div>
                        </div>
                    </article>

                    <aside class="property-info col-xs-4 pd">
                        <div class="row">
                            <div class="col-xs-12 pd">
                                <div id="stayinfo"></div>
                                <div id="statement"></div>
                                <div id="question-support" class="item row-fluid">
                                    <h5 class="module"><i class="glyphicons headset"></i>{{textdata.Have a Question?}}</h5>
                                    <p>{{textdata.Phone}}: <span class="pull-right">{{site.phone}}</span></p>
                                    <p>{{textdata.Email}}: <span class="pull-right">{{site.email}}</span></p>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </div>
        {{/result}}
</script>

<script id="tmpl-booking-makebooking-stayinfo" type="text/html">
        {{#result}}
            {{^ContextData.Quote.IsValid}}
            <div class="alert alert-error">{{ContextData.Quote.ValidationMessage}}</div>
            {{/ContextData.Quote.IsValid}}
        <span class="module notes_2 hide">{{textdata.Booking Details}}</span>
        <div id="details" class="item row-fluid">
            <p><span class="glyphicons glyphicons-calendar m-r-15"></span><span>{{textdata.Check-In}}</span> <span class="pull-right">{{session.searchparams.scheckin}}</span></p>
            <p><span class="glyphicons glyphicons-calendar m-r-15"></span><span>{{textdata.Check-Out}}</span> <span class="pull-right">{{session.searchparams.scheckout}}</span></p>
            <p><span class="glyphicons glyphicons-group m-r-15"></span><span>{{textdata.Adults}}</span><span class="pull-right">{{session.searchparams.adults}}</span></p>
            <p><span class="glyphicons glyphicons-group m-r-15"></span><span>{{textdata.Children}}</span><span class="pull-right">{{session.searchparams.children}}</span></p>
            <p><div data-target="#revisedates" data-toggle="modal" class="bapi-showrevise kd-button secondary-fill-color filled">{{textdata.Change Info}}</div></p>
        </div>

        <div  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-body">
                <div class="row-fluid">

                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <label>{{textdata.Adults}}</label>
                        <input class="span12 revisedates" type="text" placeholder="{{textdata.Adults}}" value="{{#session.searchparams.adults.min}}{{session.searchparams.adults.min}}{{/session.searchparams.adults.min}}{{^session.searchparams.adults.min}}2{{/session.searchparams.adults.min}}" data-field="adults[min]" required>
                    </div>
                    <div class="span6">
                        <label>{{textdata.Children}}</label>
                        <input class="span12 revisedates" type="text" placeholder="{{textdata.Children}}" value="{{#session.searchparams.children.min}}{{session.searchparams.children.min}}{{/session.searchparams.children.min}}{{^session.searchparams.children.min}}0{{/session.searchparams.children.min}}" data-field="children[min]" required>
                    </div>
                </div>
            </div>
        </div>

        <div id="revisedates" data-backdrop="false" class="pop-up-booking-form modal fade" role="dialog" aria-hidden="true">

            <form class="revisedates">
                <div class="booking-form">
                    <span class="glyphicons glyphicons-list-alt"></span><span class="update-info-label">{{textdata.Change Info}}</span>
                    <div class="row-fluid">
                        <div class="span6">
                            <label>{{textdata.Check-In}}</label>
                            <input id="makebookingcheckin" class="span12 revisedates datepickercheckin" type="text" placeholder="{{textdata.Check-In}}" value="{{session.searchparams.scheckin}}" data-field="scheckin" required>
                        </div>
                        <div class="span6">
                            <label>{{textdata.Check-Out}}</label>
                            <input id="makebookingcheckout" class="span12 revisedates datepickercheckout" type="text" placeholder="{{textdata.Check-Out}}" value="{{session.searchparams.scheckout}}" data-field="scheckout" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <label>Adults</label>
                            <input class="col-xs-12 revisedates" type="text" placeholder="{{textdata.Adults}}" value="{{#session.searchparams.adults}}{{session.searchparams.adults}}{{/session.searchparams.adults}}{{^session.searchparams.adults}}2{{/session.searchparams.adults}}" data-field="adults[min]" required="">
                        </div>
                        <div class="col-xs-6">
                            <label>Children</label>
                            <input class="col-xs-12 revisedates" type="text" placeholder="{{textdata.Children}}" value="{{#session.searchparams.children}}{{session.searchparams.children}}{{/session.searchparams.children}}{{^session.searchparams.children}}0{{/session.searchparams.children}}" data-field="children[min]" required="">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{{textdata.Close}}</button>
                        <button data-dismiss="modal" class="btn btn-primary bapi-revisedates">{{textdata.Update}}</button>
                    </div>
                </div>
            </form>
        </div>

        {{/result}}
</script>

<script id="tmpl-booking-makebooking-statement" type="text/html">
    <hr />
        {{#result}}
            {{#ContextData.Quote.IsValid}}
                {{#ContextData.Quote.Statement}}
                <div id="charges" class="item row-fluid">
                    <h5>{{textdata.Charges}} <small class="charges-detail"><a href="#statement-details" data-target="#statement-details" data-toggle="modal">({{textdata.Details}})</a></small></h5>
                    <p>
                        {{textdata.Rent}}<span class="pull-right">{{ServicesTotal.LocalCurrencySymbol}}{{ServicesTotal.LocalSValue2}}</span>
                        <span class="glyphicons circle_question_mark" ><a><i></i></a></span>
                    </p>
                    <p>
                        {{textdata.Taxes & Fees}}<span class="pull-right">{{TaxesAndFeesTotal.LocalCurrencySymbol}}{{TaxesAndFeesTotal.LocalSValue2}}</span>
                        <span class="glyphicons circle_question_mark" ><a><i></i></a></span>
                    </p>
                    {{#DepositsTotal.Value}}
                        <p>
                            {{textdata.Refundable Security Deposit}}<span class="pull-right">{{DepositsTotal.LocalCurrencySymbol}}{{DepositsTotal.LocalSValue2}}</span>
                            <span class="glyphicons circle_question_mark" ><a><i></i></a></span>
                        </p>
                    {{/DepositsTotal.Value}}
                    {{#OptionalFees.length}}
                        <hr />
                    <div id="ofees" class="item row-fluid">
                        <h5>{{textdata.Optional Fees & Services}}</h5>
                    {{/OptionalFees.length}}
                    {{#OptionalFees}}
                        <p>
                            {{#BoolField}}<input type="checkbox" class="bapi-optionalfee" {{#Quantity}}checked{{/Quantity}} data-rid="{{RelatedToID}}" data-reid="{{RelatedToEntityID}}" />{{/BoolField}}
                            {{^BoolField}}<input type="number" class="col-xs-2 bapi-optionalfee" {{#MinQty}}min="{{MinQty}}"{{/MinQty}}{{^MinQty}}min="0"{{/MinQty}} max="{{MaxQty}}" value="{{Quantity}}" data-rid="{{RelatedToID}}" data-reid="{{RelatedToEntityID}}" />{{/BoolField}}
                            <span>{{{Notes}}}</span>
                            <span class="pull-right">{{#SubTotal}}{{OptionalFeesTotal.LocalCurrencySymbol}}{{SubTotal2.LocalSValue2}}{{/SubTotal}}{{^SubTotal}}--{{/SubTotal}}</span>
                        </p>
                    {{/OptionalFees}}
                    {{#OptionalFees.length}}
                    </div>
                    {{/OptionalFees.length}}

                    <hr />
                    <div id="discount" class="item row-fluid">
                        <h5>{{textdata.Discounts}}</h5>
                        {{#Discounts}}
                            <p>{{{Notes}}}<span class="pull-right">{{#SubTotal}}{{DiscountsTotal.LocalCurrencySymbol}}{{SubTotal2.LocalSValue2}}{{/SubTotal}}{{^SubTotal}}--{{/SubTotal}}</span></p>
                        {{/Discounts}}
                        <label>
                            <input type="text" placeholder="{{textdata.Coupon Code}}" class="col-xs-6 revisedates" value="{{session.searchparams.coupon}}" data-field="Coupon" />
                            <small><a href="javascript:void(0)" class="bapi-applyspecial">{{textdata.Apply}}</a></small>
                            <span class="pull-right">----</span>
                        </label>
                    </div>
                </div>
                <div id="msgs" class="item row-fluid">
                    <div class="primary-fill-color total-block">
                        <p><strong>{{textdata.Total}}<span class="pull-right">{{TotalDue.LocalCurrencySymbol}} {{TotalDue.LocalSValue2}}</span></strong></p>
                        <p><strong>{{textdata.Amount Due Now}}<span class="pull-right">{{TotalDueNow.LocalCurrencySymbol}} {{TotalDueNow.LocalSValue2}}</span></strong></p>
                        {{#HasLocalCurrency}}
                            <hr />
                            <p>{{textdata.You will pay in}} {{Currency}}</p>
                            <p><strong>{{textdata.Total}}<span class="pull-right">{{TotalDueNow.CurrencySymbol}} {{Total}}</span></strong></p>
                            <p><strong>{{textdata.Amount Due Now}}<span class="pull-right">{{TotalDueNow.CurrencySymbol}} {{TotalDueNow.SValue2}}</span></strong></p>
                        {{/HasLocalCurrency}}
                    </div>
                    {{#ContextData.Quote.PaymentTerms}}
                        <div class="msg-gray msg-center"><p class="text-center">{{&ContextData.Quote.PaymentTerms}}</p></div>
                    {{/ContextData.Quote.PaymentTerms}}
                </div>
                {{/ContextData.Quote.Statement}}
            {{/ContextData.Quote.IsValid}}
        {{/result}}

        {{#result}}
            {{#ContextData.Quote.Statement}}
            <div id="statement-details" class="modal fade" role="dialog" aria-hidden="true">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-md-offset-3 bg-white m-t-15p">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3>{{textdata.Charges}}</h3>
                    </div>
                    <div class="modal-body">
                        {{#Services.length}}
                        <div id="charges-modal" class="item row-fluid">
                            <h5>{{textdata.Rent}}</h5>
                        {{/Services.length}}
                        {{#Services}}
                            {{#config.statementsettings.lumpfees}}
                                {{#config.statementsettings.lumptaxes}}
                                    <p>{{{Notes}}} <small>Incl. Fees & Taxes</small><span class="pull-right">{{#TaxesFeesAndServicesTotal}}{{TaxesFeesAndServicesTotal.LocalCurrencySymbol}}{{TaxesFeesAndServicesTotal.LocalSValue2}}{{/TaxesFeesAndServicesTotal}}{{^TaxesFeesAndServicesTotal}}--{{/TaxesFeesAndServicesTotal}}</span></p>
                                {{/config.statementsettings.lumptaxes}}
                                {{^config.statementsettings.lumptaxes}}
                                    <p>{{{Notes}}} <small>Incl. Fees</small><span class="pull-right">{{#FeesAndServicesTotal}}{{FeesAndServicesTotal.LocalCurrencySymbol}}{{FeesAndServicesTotal.LocalSValue2}}{{/FeesAndServicesTotal}}{{^FeesAndServicesTotal}}--{{/FeesAndServicesTotal}}</span></p>
                                {{/config.statementsettings.lumptaxes}}
                            {{/config.statementsettings.lumpfees}}
                            {{^config.statementsettings.lumpfees}}
                                {{#config.statementsettings.lumptaxes}}
                                    <p>{{{Notes}}} <small>Incl. Taxes</small><span class="pull-right">{{#TaxesAndServicesTotal}}{{TaxesAndServicesTotal.LocalCurrencySymbol}}{{TaxesAndServicesTotal.LocalSValue2}}{{/TaxesAndServicesTotal}}{{^TaxesAndServicesTotal}}--{{/TaxesAndServicesTotal}}</span></p>
                                {{/config.statementsettings.lumptaxes}}
                            {{/config.statementsettings.lumpfees}}
                            {{^config.statementsettings.lumpfees}}
                                {{^config.statementsettings.lumptaxes}}
                                    <p>{{{Notes}}}<span class="pull-right">{{#SubTotal}}{{SubTotal2.LocalCurrencySymbol}}{{SubTotal2.LocalSValue2}}{{/SubTotal}}{{^SubTotal}}--{{/SubTotal}}</span></p>
                                {{/config.statementsettings.lumptaxes}}
                            {{/config.statementsettings.lumpfees}}
                        {{/Services}}
                        {{#Services.length}}
                        </div>
                            <hr />
                        {{/Services.length}}
                        {{^config.statementsettings.lumpfees}}
                            {{#Fees.length}}
                            <div id="fees-modal" class="item row-fluid">
                                <h5>{{textdata.Fees}}</h5>
                            {{/Fees.length}}
                            {{#Fees}}
                                <p>{{{Notes}}} <span class="glyphicons circle_question_mark"><a data-toggle="collapse" data-target="#description{{RelatedToID}}" class="load_desc" data-entity="fee" data-related-id="{{RelatedToID}}"><i></i></a></span><span class="pull-right">{{#SubTotal}}{{SubTotal2.LocalCurrencySymbol}}{{SubTotal2.LocalSValue2}}{{/SubTotal}}{{^SubTotal}}--{{/SubTotal}}</span></p><div id="description{{RelatedToID}}" class="collapse charges-description">{{{Description}}}</div>
                            {{/Fees}}
                            {{#Fees.length}}
                            </div>
                                <hr />
                            {{/Fees.length}}
                        {{/config.statementsettings.lumpfees}}
                        {{^config.statementsettings.lumptaxes}}
                            {{#Taxes.length}}
                            <div id="taxes-modal" class="item row-fluid">
                                <h5>{{textdata.Taxes}}</h5>
                            {{/Taxes.length}}
                            {{#Taxes}}
                                <p>{{{Notes}}} <span class="glyphicons circle_question_mark"><a data-toggle="collapse" data-target="#description{{RelatedToID}}" class="load_desc" data-entity="tax" data-related-id="{{RelatedToID}}"><i></i></a></span><span class="pull-right">{{#SubTotal}}{{SubTotal2.LocalCurrencySymbol}}{{SubTotal2.LocalSValue2}}{{/SubTotal}}{{^SubTotal}}--{{/SubTotal}}</span></p><div id="description{{RelatedToID}}" class="collapse charges-description">{{{Description}}}</div>
                            {{/Taxes}}
                            {{#Taxes.length}}
                            </div>
                                <hr />
                            {{/Taxes.length}}
                        {{/config.statementsettings.lumptaxes}}
                        {{#OptionalFees.length}}
                        <div id="ofees-modal" class="item row-fluid">
                            <h5>{{textdata.Optional Fees & Services}}</h5>
                        {{/OptionalFees.length}}
                        {{#OptionalFees}}
                            <p>{{{Notes}}} <span class="glyphicons circle_question_mark"><a data-toggle="collapse" data-target="#description{{RelatedToID}}" class="load_desc" data-entity="fee" data-related-id="{{RelatedToID}}"><i></i></a></span><span class="pull-right">{{#SubTotal}}{{SubTotal2.LocalCurrencySymbol}}{{SubTotal2.LocalSValue2}}{{/SubTotal}}{{^SubTotal}}--{{/SubTotal}}</span></p><div id="description{{RelatedToID}}" class="collapse charges-description">{{{Description}}}</div>
                        {{/OptionalFees}}
                        {{#OptionalFees.length}}
                        </div>
                            <hr />
                        {{/OptionalFees.length}}
                        {{#Discounts.length}}
                        <div id="discounts-modal" class="item row-fluid">
                            <h5>{{textdata.Discounts}}</h5>
                        {{/Discounts.length}}
                        {{#Discounts}}
                            <p>{{{Notes}}}<span class="pull-right">{{#SubTotal}}{{SubTotal2.LocalCurrencySymbol}}{{SubTotal2.LocalSValue2}}{{/SubTotal}}{{^SubTotal}}--{{/SubTotal}}</span></p>
                        {{/Discounts}}
                        {{#Discounts.length}}
                        </div>
                            <hr />
                        {{/Discounts.length}}
                        {{#Deposits.length}}
                        <div id="deposits-modal" class="item row-fluid">
                            <h5>{{textdata.Deposits}}</h5>
                        {{/Deposits.length}}
                        {{#Deposits}}
                            <p>{{{Notes}}} <span class="glyphicons circle_question_mark"><a data-toggle="collapse" data-target="#description{{RelatedToID}}" class="load_desc" data-entity="fee" data-related-id="{{RelatedToID}}"><i></i></a></span><span class="pull-right">{{#SubTotal}}{{SubTotal2.LocalCurrencySymbol}}{{SubTotal2.LocalSValue2}}{{/SubTotal}}{{^SubTotal}}--{{/SubTotal}}</span></p><div id="description{{RelatedToID}}" class="collapse charges-description">{{{Description}}}</div>
                        {{/Deposits}}
                        {{#Deposits.length}}
                        </div>
                        {{/Deposits.length}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{{textdata.Close}}</button>
                    </div>
                </div>
            {{/ContextData.Quote.Statement}}
        {{/result}}
    </div>
    </div>
</script>

<script id="tmpl-booking-makebooking-statementdetail" type="text/html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="sta">Taxes</h3>
    </div>
    <div class="modal-body">
        <h5>Tax Lorem Ipsum</h5>
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{textdata.Close}}</button>
    </div>
</script>

<script id="tmpl-booking-makebooking-renter" type="text/html">
    <legend>1. {{textdata.Guest Information}}</legend>
    <div class="row">
        <div class="control-group col-xs-6">
            <label class="control-label" for="renterfirstname">{{textdata.First Name}}:*</label>
            <div class="controls">
                <input type="text" id="renterfirstname" class="bookingfield col-xs-12 required" data-field="Renter[FirstName]" required />
            </div>
        </div>
        <div class="control-group col-xs-6">
            <label class="control-label" for="renterlastname">{{textdata.Last Name}}:*</label>
            <div class="controls">
                <input type="text" id="renterlastname" class="bookingfield col-xs-12 required" data-field="Renter[LastName]" required />
            </div>
        </div>
        <div class="control-group col-xs-6">
            <label class="control-label" for="renteremail">{{textdata.Email}}:*</label>
            <div class="controls">
                <input type="text" id="renteremail" class="bookingfield col-xs-12 required" data-validity="email" data-field="Renter[PrimaryEmail]" required />
            </div>
        </div>
        <div class="control-group col-xs-6">
            <label class="control-label" for="renterphone">{{textdata.Phone}}:*</label>
            <div class="controls">
                <input type="text" id="renterphone" class="bookingfield col-xs-12 required" data-field="Renter[HomePhone]" required />
            </div>
        </div>
        <div class="control-group col-xs-6">
            <label class="control-label" for="renterls">{{config.leadsources.prompt}}:</label>
            <div class="controls">
                <!--<div class="btn-group">-->
                <select id="renterls" class="bookingfield col-xs-12" data-field="Renter[LeadSourceID]">
                    <option value="0">-{{config.leadsources.prompt}}-</option>
                    {{#config.leadsources.values}}<option value="{{Data}}">{{Label}}</option>{{/config.leadsources.values}}
                </select>
                <!--</div>-->
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="publicnotes">{{textdata.Special Requests}}:</label>
            <div class="controls">
                <input type="text" id="publicnotes" rows="3" class="bookingfield col-xs-12" data-field="PublicNotes" />
            </div>
        </div>
    </div>
</script>

<script id="tmpl-booking-makebooking-creditcard" type="text/html">
    <legend>
        <div class="control row">
            <span class="col-xs-8">2. {{textdata.Credit Card Information}}</span>
            <div class="credit-icon col-xs-4">
                {{#config.ccconfig.visa}}
                    <span class="creditcard-visa"></span>
                {{/config.ccconfig.visa}}
                {{#config.ccconfig.mastercard}}
                    <span class="creditcard-mastercard"></span>
                {{/config.ccconfig.mastercard}}
                {{#config.ccconfig.discover}}
                    <span class="creditcard-discover"></span>
                {{/config.ccconfig.discover}}
                {{#config.ccconfig.amex}}
                    <span class="creditcard-amex"></span>
                {{/config.ccconfig.amex}}
                {{#config.ccconfig.dinersclub}}
                    <span class="creditcard-dinersclub"></span>
                {{/config.ccconfig.dinersclub}}
            </div>
        </div>
    </legend>
    <div class="row">
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="noc">{{textdata.Name on Card}}:</label>
            <div class="controls">
                <input type="text" id="noc" class="bookingfield col-xs-12 required autofullname" data-field="CreditCard[NameOnCard]" required />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="ccnum">{{textdata.Card Number}}:</label>
            <div class="controls">
                <input type="text" id="ccnum" class="bookingfield col-xs-12 required ccverify" data-isvalid="0" data-field="CreditCard[CardNumber]" required />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label inline" for="ccexpr">{{textdata.Expiration}}:</label>
            <div class="controls row">

                <div class="col-xs-6">
                    <select id="ccmonth" class="bookingfield required col-xs-12" data-field="CreditCard[ExpiryMonth]" required>
                        <option value="">-{{textdata.Month}}-</option>
                        {{#config.ccmonths.values}}
                            <option value="{{Data}}">{{Label}}</option>
                        {{/config.ccmonths.values}}
                    </select>
                </div>

                <div class="col-xs-6">
                    <select id="ccyear" class="bookingfield required col-xs-12" data-field="CreditCard[ExpiryYear]" required>
                        <option value="">-{{textdata.Year}}-</option>
                        {{#config.ccyears.values}}
                            <option value="{{Data}}">{{Label}}</option>
                        {{/config.ccyears.values}}
                    </select>
                </div>
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="cccvv">{{textdata.Security Code}}:</label>
            <div class="controls">
                <input type="text" id="cccvv" class="bookingfield col-xs-12 required" data-field="CreditCard[SecurityCode]" required />
            </div>
        </div>
        <hr />
        <legend class="col-xs-12">3. {{textdata.Billing Address}}</legend>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="cccvv">{{textdata.Country}}:</label>
            <div class="controls">
                <input type="text" id="billingcountry" class="bookingfield col-xs-12 required bapi-country" data-field="CreditCard[Country]" required />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="billingaddress">{{textdata.Street Line 1}}:</label>
            <div class="controls">
                <input type="text" id="billingaddress" class="bookingfield col-xs-12 required" data-field="CreditCard[Address]" required />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="billingaddress2">{{textdata.Street Line 2}}:</label>
            <div class="controls">
                <input type="text" id="billingaddress2" class="bookingfield col-xs-12" data-field="CreditCard[Address2]" />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="billingcity">{{textdata.City}}/{{textdata.Town}}:</label>
            <div class="controls">
                <input type="text" id="billingcity" class="bookingfield col-xs-12 required bapi-city" data-field="CreditCard[City]" required />
            </div>
        </div>
        <div class="control-group col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label inline" for="billingstate">{{textdata.State}}/{{textdata.Province}}:</label>
                    <div class="controls">
                        <input type="text" id="billingstate" class="col-xs-12 bookingfieldrequired bapi-state" data-field="CreditCard[State]" required />
                    </div>
                </div>

                <div class="col-xs-6">
                    <label class="control-label inline">{{textdata.Postal Code}}:</label>
                    <div class="controls">
                        <input type="text" id="billingpostalcode" class="col-xs-12 row-fluid required bookingfield" data-field="CreditCard[PostalCode]" required />
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="tmpl-booking-makebooking-accept" type="text/html">
        {{#result}}
            {{#ContextData.Quote.IsValid}}
            <legend class="accept">4. {{textdata.Accept Terms and Conditions}}</legend>
            <div class="control-group accept">
                <p style="display:none">{{config.rentalpolicysummary}}</p>
                <div class="row">
                    <label class="checkbox col-xs-12">
                        <small>
                            <em>
                                <input id="accepptermscbx" type="checkbox" class="required pad-x-30">{{textdata.I have read and accept the terms and conditions}}:</input>&nbsp;
                                <a target="_blank" href="/rentalpolicy">{{textdata.Rental Policy}}</a>&nbsp;
                                <a target="_blank" href="/termsofuse">{{textdata.Terms of Service}}</a>
                            </em>
                        </small>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="row">
                    <div class="btn-book-header col-xs-6">
                        <div class="row">
			<span class="line1 col-xs-12">
				<a href="javascript:void(0);" class="inline-b kd-button filled secondary-fill-color makebooking col-xs-12" data-field-selector="bookingfield">{{textdata.Reserve Now}}</a>
			</span>
			<span class="line2 col-xs-12">
				{{#result}}{{#ContextData.Quote.Statement.ValidUntil}}{{textdata.Quote is valid for}} <span id="quote_ValidUntil_M"></span> {{textdata.minute(s)}} <span id="quote_ValidUntil_S"></span> {{textdata.second(s)}}<br />{{/ContextData.Quote.Statement.ValidUntil}}{{/result}}
                {{textdata.This page is secure}} - <a href="#SSL" data-toggle="collapse" data-target="#SSL">{{textdata.check here}}</a>
			</span>
                        </div>
                        <div id="SSL" class="collapse"></div>
                    </div>
                    {{#result}}
                        <div class="amount-bk col-xs-6">
                            {{textdata.Amount to be charged now}}:
                            {{#ContextData.Quote.Statement}}
                                <span class="bold">{{TotalDueNow.CurrencySymbol}}&nbsp;{{TotalDueNow.SValue2}}</span>
                            {{/ContextData.Quote.Statement}}
                        </div>
                    {{/result}}
                </div>
            </div>
            {{/ContextData.Quote.IsValid}}
            {{^ContextData.Quote.IsValid}}
            <div class="alert alert-error">{{ContextData.Quote.ValidationMessage}}</div>
            {{/ContextData.Quote.IsValid}}
        {{/result}}
</script>





<script id="tmpl-booking-makepayment-verify-user" type="text/html">
    <div class="module shadow-border">
        <div class="row-fluid">
            <div class="verify-user text-center">
                <div class="col-xs-12">
                    <h3>{{textdata.Make a Payment}}</h3>
                    <p>{{textdata.Please verify this booking belongs to you}}</p>
                    <div class="greybox">
                        <div id="verifybookingid-block" class="control-group hide">
                            <div class="controls">
                                <input type="text" id="verifyBookingId" class="col-xs-12 required" placeholder="Booking ID" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" id="verifyLastName" class="col-xs-12 required" placeholder="{{textdata.Last Name}}" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" id="verifyEmail" class="col-xs-12 required" data-validity="email" placeholder="{{textdata.Email}}" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <button id="submitVerifyUser" class="btn btn-large btn-primary col-xs-12">{{textdata.Submit}}</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</script>

<script id="tmpl-booking-makepayment-masterlayout" type="text/html">
        {{#result}}
        <div class="module shadow-border">
            <div class="row-fluid">
                <div class="booking-page bordersolid">
                    <article class="col-xs-8 booking-form">
                        <div class="form-horizontal pd">
                            <div id="creditcard"></div>
                            <hr />
                            <div id="accept"></div>
                        </div>
                    </article>

                    <aside class="property-info col-xs-4 pd">
                        <div class="row">
                            <div class="col-xs-12 pd">
                                <div id="stayinfo"></div>
                                <div id="statement"></div>
                                <div id="question-support" class="item row-fluid">
                                    <h5 class="module"><i class="glyphicons headset"></i>{{textdata.Have a Question?}}</h5>
                                    <p>{{textdata.Phone}}: <span class="pull-right">{{site.phone}}</span></p>
                                    <p>{{textdata.Email}}: <span class="pull-right">{{site.email}}</span></p>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </div>
        {{/result}}
</script>

<script id="tmpl-booking-makepayment-creditcard" type="text/html">
    <legend>
        <div class="control row">
            <span class="col-xs-8">1. {{textdata.Credit Card Information}}</span>
            <div class="credit-icon col-xs-4">
                {{#config.ccconfig.visa}}
                    <span class="creditcard-visa"></span>
                {{/config.ccconfig.visa}}
                {{#config.ccconfig.mastercard}}
                    <span class="creditcard-mastercard"></span>
                {{/config.ccconfig.mastercard}}
                {{#config.ccconfig.discover}}
                    <span class="creditcard-discover"></span>
                {{/config.ccconfig.discover}}
                {{#config.ccconfig.amex}}
                    <span class="creditcard-amex"></span>
                {{/config.ccconfig.amex}}
                {{#config.ccconfig.dinersclub}}
                    <span class="creditcard-dinersclub"></span>
                {{/config.ccconfig.dinersclub}}
            </div>
        </div>
    </legend>
    <div class="row">
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="noc">{{textdata.Name on Card}}:</label>
            <div class="controls">
                <input type="text" id="noc" class="bookingfield col-xs-12 required autofullname" data-field="CreditCard[NameOnCard]" required />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="ccnum">{{textdata.Card Number}}:</label>
            <div class="controls">
                <input type="text" id="ccnum" class="bookingfield col-xs-12 required ccverify" data-isvalid="0" data-field="CreditCard[CardNumber]" required />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label inline" for="ccexpr">{{textdata.Expiration}}:</label>
            <div class="controls row">

                <div class="col-xs-6">
                    <select id="ccmonth" class="bookingfield required col-xs-12" data-field="CreditCard[ExpiryMonth]" required>
                        <option value="">-{{textdata.Month}}-</option>
                        {{#config.ccmonths.values}}
                            <option value="{{Data}}">{{Label}}</option>
                        {{/config.ccmonths.values}}
                    </select>
                </div>

                <div class="col-xs-6">
                    <select id="ccyear" class="bookingfield required col-xs-12" data-field="CreditCard[ExpiryYear]" required>
                        <option value="">-{{textdata.Year}}-</option>
                        {{#config.ccyears.values}}
                            <option value="{{Data}}">{{Label}}</option>
                        {{/config.ccyears.values}}
                    </select>
                </div>
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="cccvv">{{textdata.Security Code}}:</label>
            <div class="controls">
                <input type="text" id="cccvv" class="bookingfield col-xs-12 required" data-field="CreditCard[SecurityCode]" required />
            </div>
        </div>
        <hr />
        <legend class="col-xs-12">2. {{textdata.Billing Address}}</legend>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="cccvv">{{textdata.Country}}:</label>
            <div class="controls">
                <input type="text" id="billingcountry" class="bookingfield col-xs-12 required bapi-country" data-field="CreditCard[Country]" required />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="billingaddress">{{textdata.Street Line 1}}:</label>
            <div class="controls">
                <input type="text" id="billingaddress" class="bookingfield col-xs-12 required" data-field="CreditCard[Address]" required />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="billingaddress2">{{textdata.Street Line 2}}:</label>
            <div class="controls">
                <input type="text" id="billingaddress2" class="bookingfield col-xs-12" data-field="CreditCard[Address2]" />
            </div>
        </div>
        <div class="control-group col-xs-6 ">
            <label class="control-label" for="billingcity">{{textdata.City}}/{{textdata.Town}}:</label>
            <div class="controls">
                <input type="text" id="billingcity" class="bookingfield col-xs-12 required bapi-city" data-field="CreditCard[City]" required />
            </div>
        </div>
        <div class="control-group col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label inline" for="billingstate">{{textdata.State}}/{{textdata.Province}}:</label>
                    <div class="controls">
                        <input type="text" id="billingstate" class="col-xs-12 bookingfieldrequired bapi-state" data-field="CreditCard[State]" required />
                    </div>
                </div>

                <div class="col-xs-6">
                    <label class="control-label inline">{{textdata.Postal Code}}:</label>
                    <div class="controls">
                        <input type="text" id="billingpostalcode" class="col-xs-12 row-fluid required bookingfield" data-field="CreditCard[PostalCode]" required />
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="tmpl-booking-rentalpolicy" type="text/html">
    <div style="padding:10px;">
        {{{config.rentalpolicy}}}
    </div>
</script>

<script id="tmpl-booking-makepayment-pay" type="text/html">
        {{#result}}
        <legend class="accept">3. {{textdata.Accept Terms and Conditions}}</legend>
        <div class="control-group accept">
            <p style="display:none">{{config.rentalpolicysummary}}</p>
            <div class="row">
                <label class="checkbox col-xs-12">
                    <small>
                        <em>
                            <input id="accepptermscbx" type="checkbox" class="required pad-x-30">{{textdata.I have read and accept the terms and conditions}}:</input>&nbsp;
                            <a target="_blank" href="/rentalpolicy">{{textdata.Rental Policy}}</a>&nbsp;
                            <a target="_blank" href="/termsofuse">{{textdata.Terms of Service}}</a>
                        </em>
                    </small>
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="row">
                <div class="btn-book-header col-xs-6">

			<span class="line1">
				<a href="javascript:void(0);" class="inline-b kd-button filled secondary-fill-color makepayment col-xs-12" data-field-selector="bookingfield">{{textdata.Pay Now}}</a>
			</span>
                </div>

                {{#result}}
                    <div class="amount-bk col-xs-6">
                        {{textdata.Amount to Pay Now}}
                        {{#Statement}}
                            <span class="bold">{{Statement.AmountPaid.CurrencySymbol}}&nbsp;{{sTotalDueNow.Integer}}.{{sTotalDueNow.Decimal}}</span>
                            <input id="txtAmountToCharge1" type="hidden" class="row-fluid bookingfield span4" value="{{sTotalDueNow.Integer}}"/>
                            <input id="txtAmountToCharge2" type="hidden" class="row-fluid bookingfield span3" value="{{sTotalDueNow.Decimal}}"/>
                        {{/Statement}}
                    </div>
                {{/result}}

                <div id="SSL" class="collapse"></div>

            </div>
        </div>
        {{/result}}
</script>

<script id="tmpl-booking-makepayment-stayinfo" type="text/html">
        {{#result}}
        <span class="module notes_2 hide">{{textdata.Booking Details}}</span>
        <div id="details" class="item row-fluid">
            <p><span class="glyphicons glyphicons-calendar m-r-15"></span><span>{{textdata.Check-In}}</span> <span class="pull-right">{{session.searchparams.scheckin}}</span></p>
            <p><span class="glyphicons glyphicons-calendar m-r-15"></span><span>{{textdata.Check-Out}}</span> <span class="pull-right">{{session.searchparams.scheckout}}</span></p>
            <p><span class="glyphicons glyphicons-group m-r-15"></span><span>{{textdata.Adults}}</span><span class="pull-right">{{session.searchparams.adults.min}}</span></p>
            <p><span class="glyphicons glyphicons-group m-r-15"></span><span>{{textdata.Children}}</span><span class="pull-right">{{session.searchparams.children.min}}</span></p>
        </div>
        {{/result}}
</script>
