/*
Featured Properties - QuickView
*/
<script id="tmpl-featuredproperties-quickview" type="text/html">
    {{#result}}
    <a class="swiper-slide prop" href="{{ContextData.SEO.DetailURL}}" style="background-image: url( '{{&PrimaryImage.MediumURL}}' );">
        <div class="info">
            <div class="text">
                <div class="left">
                    <h4 class="prop-title">{{Headline}}</h4>
                    <div class="prop-attrs">{{#Bedrooms}}{{textdata.Beds}} <b>{{Bedrooms}}</b>{{/Bedrooms}} {{#Bathrooms}}{{textdata.Baths}} <b>{{Bathrooms}}</b>{{/Bathrooms}}</div>
                    <div class="prop-price">{{ContextData.Quote.PublicNotes}}</div>
                </div>
                <div class="prop-details secondary-fill-color">{{textdata.See Details}}</div>
            </div>
        </div>
    </a>
    {{/result}}
</script>