/*
	Group: Misc Widgets
*/
<script id="tmpl-currencyselector" type="text/html">
<span class="dropdown">
	<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{{session.currency}}<b class="caret"></b></a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		{{#config.currencies}}
		<li>{{^RegionInfo}}<a href='javascript:void(0)' class='changecurrency' data-currency='{{CurrencySymbol}}'>{{CurrencySymbol}} {{Currency}}</a>{{/RegionInfo}}{{#RegionInfo}}<a href='javascript:void(0)' class='changecurrency' data-currency='{{RegionInfo.ISOCurrencySymbol}}'>{{RegionInfo.ISOCurrencySymbol}} {{RegionInfo.CurrencyEnglishName}}</a>{{/RegionInfo}}</li>
		{{/config.currencies}}
	</ul>    
</span>
</script>
