/* Consumer Site: Property Detail - Attractions */
<script id="tmpl-propertyattractionsgrid" type="text/html">
    <table class="rate-table">
        <thead>
        <tr class="rate-table-trhead">
            <th scope="col" class="rate-table-th"></th>
            <th scope="col" class="rate-table-th">Attraction</th>
            <th scope="col" class="rate-table-th">Category</th>
            <th scope="col" class="rate-table-th">Distance</th>
        </tr>
        </thead>
        <tbody>
        <tr class="rate-table-tr">
            <td><a onclick="alert('clicked->needs to open infowindow');" class="rate-table-td">1</a></td>
            <td class="rate-table-td">The Awesome Corner</td>
            <td class="rate-table-td">null</td><td class="rate-table-td">0 Feet</td>
        </tr>
        </tbody>
    </table>
</script>