<script id="tmpl-properties-detail" type="text/html">
        {{#result}}
        <div class="bapi-entityadvisor" data-pkid="{{ID}}" data-entity="property" data-lat="{{Latitude}}" data-long="{{Longitude}}" data-bg="{{&PrimaryImage.OriginalURL}}" ></div>
        <div class="hero">
            <div id="pano"></div>
            <div class="hero-image"  title="Property hero"></div>
            <div class="page-width">
                <div class="title">
                    {{Headline}}
                </div>
            </div>
        </div>
        <div class="amenities-n-buttons nocollapse">
            <div class="page-width">
                <div class="amenities">
                    <ul class="nocollapse">
                        <li>
                            <span class="kd-icon amenity-icon glyphicons glyphicons-home"></span>
                            {{#Type}}
                                <span class="amenity-name">{{textdata.Category}}:</span>
                                <span class="amenity-value">{{Type}}</span>
                            {{/Type}}
                        </li>
                        <li>
                            <span class="kd-icon amenity-icon glyphicons glyphicons-bed"></span>
                            {{#Bedrooms}}
                                <span class="amenity-name">{{textdata.Beds}}:</span>
                                <span class="amenity-value">{{Bedrooms}}</span>
                            {{/Bedrooms}}
                        </li>
                        <li>
                            <span class="kd-icon amenity-icon glyphicons glyphicons-bath-bathtub"></span>
                            {{#Bathrooms}}
                                <span class="amenity-name">{{textdata.Baths}}:</span>
                                <span class="amenity-value">{{Bathrooms}}</span>
                            {{/Bathrooms}}
                        </li>
                        <li>
                            <span class="kd-icon amenity-icon glyphicons glyphicons-parents"></span>
                            {{#Sleeps}}
                                <span class="amenity-name">{{textdata.Sleeps}}:</span>
                                <span class="amenity-value">{{Sleeps}}</span>
                            {{/Sleeps}}
                        </li>
                        <li>
                            <span class="kd-icon amenity-icon glyphicons glyphicons-money"></span>
                            {{#ContextData.Quote.QuoteDisplay.value}}
                                <span class="amenity-name">{{textdata.Rates}}:</span>
                        <span class="amenity-value">
                            {{#ContextData.Quote.QuoteDisplay.prefix}}
                                <span class="prefix">{{ContextData.Quote.QuoteDisplay.prefix}}</span>
                            {{/ContextData.Quote.QuoteDisplay.prefix}}
                            <span>{{ContextData.Quote.QuoteDisplay.value}}</span>
                            {{#ContextData.Quote.QuoteDisplay.suffix}}
                                <span class="suffix">/{{ContextData.Quote.QuoteDisplay.suffix}}</span>
                            {{/ContextData.Quote.QuoteDisplay.suffix}}
                        </span>
                            {{/ContextData.Quote.QuoteDisplay.value}}

                            {{^ContextData.Quote.QuoteDisplay.value}}
                                <span class="amenity-name">
                            <span class="prefix">{{textdata.Rates}}:</span>
                        </span>
                        <span class="amenity-value">
                            {{^ContextData.Quote.QuoteDisplay.suffix}}
                                <span class="suffix">{{MinRate.Value}} {{MinRate.Currency}} / Night</span>
                            {{/ContextData.Quote.QuoteDisplay.suffix}}
                        </span>
                            {{/ContextData.Quote.QuoteDisplay.value}}
                        </li>
                        <li id="bapi-rateblock" class="bapi-rateblock" data-templatename="tmpl-search-rateblock" data-log="1"></li>
                    </ul>
                </div>
                <!--<div class="book-enq nocollapse"></div>-->
            </div>
        </div>
        <div class="property-description page-width nocollapse">
            <div class="ppt-desc">
                <div class="ppt-images swiper-container">
                    <ul class="ppt-slides swiper-wrapper">
                        {{#Images}}
                            <li class="swiper-slide">
                                <a class="simple-lightbox" data-index="{{ID}}" href="{{&OriginalURL}}" title="{{#Caption}}{{Caption}}{{/Caption}}" style="background-image: url('{{&OriginalURL}}');"></a>
                            </li>
                        {{/Images}}
                        <li class="more transall">
                            View more photos
                        </li>
                    </ul>
                    <div class="slider-controls nocollapse">
                        <span class="prev-slide"></span>
                        <span class="open-lightbox"></span>
                        <span class="next-slide"></span>
                    </div>
                    <div class="ppt-image-caption" id="ppt-image-caption"></div>
                </div>
                {{&Description}}
                <div class="ppt-desc-title"></div>
                <p class="ppt-desc-text"></p>
                <div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
            </div>
        </div>
        <div class="property-features page-width">
            <ul>
                <li class="active">

                    <div class="ppt-feature-title">{{textdata.Property Details}}</div>

                    <ul class="amenities-list">
                        <li>
                            <ul class="amenity-detail-list p-details">
                                {{#Development}}
                                    <li class="pd-name">{{textdata.Development}}:</li>
                                    <li class="p-detail"><span>{{Development}}</span></li>
                                {{/Development}}


                                {{#Type}}
                                    <li class="pd-name">{{textdata.Category}}:</li>
                                    <li class="p-detail"><span>{{Type}}</span></li>
                                {{/Type}}


                                {{#Beds}}
                                    <li class="pd-name">{{textdata.Beds}}:</li>
                                    <li class="p-detail"><span>{{Beds}}</span></li>
                                {{/Beds}}


                                {{#Baths}}
                                    <li class="pd-name">{{textdata.Baths}}:</li>
                                    <li class="p-detail"><span>{{Baths}}</span></li>
                                {{/Baths}}


                                {{#Sleeps}}
                                    <li class="pd-name">{{textdata.Sleeps}}:</li>
                                    <li class="p-detail"><span>{{Sleeps}}</span></li>
                                {{/Sleeps}}


                                {{#Stories}}
                                    <li class="pd-name">{{textdata.Stories}}:</li>
                                    <li class="p-detail"><span>{{Stories}}</span></li>
                                {{/Stories}}


                                {{#Floor}}
                                    <li class="pd-name">{{textdata.Floor}}:</li>
                                    <li class="p-detail"><span>{{Floor}}</span></li>
                                {{/Floor}}


                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="active">

                    <div class="ppt-feature-title">{{textdata.Amenities}}</div>

                    <ul class="amenities-list">
                        {{#Amenities}}
                            <li>
                                <ul class="amenity-detail-list">
                                    <li class="amenity-name">{{Key}}</li>
                                    {{#Values}}
                                        <li><span class="halflings ok-sign">{{Label}}</span></li>
                                    {{/Values}}
                                </ul>
                            </li>
                        {{/Amenities}}
                    </ul>
                </li>
                <li class="rates-availability active">

                    <div class="ppt-feature-title">{{textdata.Rates & Availability}}</div>
                    {{#config.displayavailcalendar}}
                        {{^HideAvailability}}

                            {{^config.hideratestable}}
                                <div id="avail" class="bapi-availcalendar" data-options='{ "availcalendarmonths": {{config.availcalendarmonths}}, "numinrow": 6 }' data-pkid="{{ID}}" data-rateselector="bapi-ratetable"></div>
                            {{/config.hideratestable}}

                            {{#config.hideratestable}}
                                <h3>{{textdata.Availability}}</h3>
                                <div id="avail" class="bapi-availcalendar" data-options='{ "availcalendarmonths": {{config.availcalendarmonths}}, "numinrow": 6 }' data-pkid="{{ID}}" data-rateselector="bapi-ratetable"></div>
                            {{/config.hideratestable}}

                        {{/HideAvailability}}
                        {{#HideAvailability}}
                            <h3>{{textdata.Rates}}</h3>
                        {{/HideAvailability}}
                    {{/config.displayavailcalendar}}
                </li>
                <li class="active">
                    <div class="ppt-feature-title">{{textdata.Attractions}}</div>
                    <div class="map-and-locations">
                        <div id="poi-map-prop" class="bapi-map" data-loc-selector='.poi-map-location' data-refresh-selector='#tabs4' data-refresh-selector-event='shown' data-link-selector='.poi-map-item'></div>
                        <div id="map-side-bar">
                            <table class="table poi-map-locations">
                                <tbody id="map-locations">
                                <tr class="hidden"><td>
                                    <div class="poi-map-location" data-jmapping='{ "id": {{ID}}, "point": { "lng": {{Longitude}}, "lat": {{Latitude}} }, "category" : "property"}'></div>
                                </td></tr>
                                {{#ContextData.Attractions}}
                                    <tr>
                                        <td>
                                            <div class="poi-map-location" data-jmapping='{ "id": {{ID}}, "point": { "lng": {{Longitude}}, "lat": {{Latitude}} }, "category":"poi-{{ContextData.ItemIndex}}" }'>
                                                <a class="poi-map-item mapmarker-{{ContextData.ItemIndex}}" href="#">{{ContextData.ItemIndex}}</a>
                                                <div class="info-html">
                                                    <div class="marker-infowindow">
                                                        <span class="prop-image pull-left"><img src="{{&PrimaryImage.ThumbnailURL}}" width="100" data-src="{{&PrimaryImage.ThumbnailURL}}" caption="{{PrimaryImage.Caption}}" alt="{{PrimaryImage.Caption}}"></span>
                                                    <span class="prop-location pull-left">
                                                        <span>
                                                            {{#ContextData.SEO.Keyword}}<a target="_blank" href="{{&ContextData.SEO.DetailURL}}">{{/ContextData.SEO.Keyword}}
                                                            <b>{{Name}}</b>
                                                            {{#ContextData.SEO.Keyword}}</a>{{/ContextData.SEO.Keyword}}<br/>
                                                            {{#Type}}<b>{{textdata.Category}}:</b>{{Type}}<br/>{{/Type}}
                                                            {{#Location}}<b>{{textdata.Address}}: </b>{{&Location}}{{/Location}}
                                                        </span>
                                                    </span>
                                                    </div>
                                                </div>
                                        </td>
                                        <td>{{#ContextData.SEO.Keyword}}<a target="_blank" href="{{&ContextData.SEO.DetailURL}}">{{/ContextData.SEO.Keyword}}{{Name}}{{#ContextData.SEO.Keyword}}</a>{{/ContextData.SEO.Keyword}}</td>
                                        <td>{{ContextData.Distance}}</td>
                                    </tr>
                                {{/ContextData.Attractions}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                {{#config.hasreviews}}
                    <li class="active">
                        <div class="ppt-feature-title">{{textdata.Reviews}}</div>
                        <div class="row-fluid">
                            <div class="span12 box-sides">

                                {{#ContextData.Reviews}}
                                    <div class="row-fluid review clearfix">
                                        <div class="col-xs-12">
                                            <div class="comment col-md-10 col-xs-12 col-md-offset-1">
                                                <div class="reviewrating-{{Rating}} ratingstars"></div>
                                                {{&Comment}}
                                            </div>
                                            <div class="rating r-n-stars col-md-10 col-xs-12 col-md-offset-1"><strong class="username">{{ReviewedBy.FirstName}}&nbsp;{{ReviewedBy.LastName}}</strong> <span class="review-posted-on">{{SubmittedOn.ShortDate}}</span></div>
                                        </div>
                                    </div>
                                    <hr/>
                                {{/ContextData.Reviews}}
                                {{^ ContextData.Reviews}}
                                    <div class="row-fluid review">
                                        <div class="col-xs-12">
                                            <div class="comment col-md-10 col-xs-12 col-md-offset-1">
                                                No reviews yet.
                                            </div>
                                        </div>
                                    </div>
                                {{/ContextData.Reviews}}
                            </div>
                        </div>

                    </li>
                {{/config.hasreviews}}
            </ul>
        </div>
        <div id="inquire-now" class="pop-up-booking-form modal fade" role="dialog" aria-hidden="true">
            <div class="booking-form">
                <h3>{{textdata.Inquire Now}}</h3>
                <div id="bapi-inquiryform-prop" class="bapi-inquiryform bapi-summary"
                     data-templatename="tmpl-leadrequestform-propertyinquiry"
                     data-log="0"
                     data-showphonefield="1"
                     data-phonefieldrequired="1"
                     data-showdatefields="1"
                     data-shownumberguestsfields="1"
                     data-showleadsourcedropdown="1"
                     data-leadsourcedropdownrequired="0"
                     data-showcommentsfield="1">
                </div>
            </div>
        </div>
        {{/result}}
</script>


<script id="tmpl-search-rateblock" type="text/html">
        {{#result}}
        <span class="kd-icon amenity-icon glyphicons glyphicons-calendar"></span>
        <span class="amenity-name your-dates">YOUR DATES:</span>
        <span class="amenity-value">
            {{^ContextData.Quote.IsValid}}
                <div class="alert alert-error"><button data-toggle="modal" data-target="#revisedates" class="pop-up-form-link kd-button primary-fill-color">{{ContextData.Quote.ValidationMessage}}</button></div>
                <button class="kd-button inquire-button secondary-fill-color bapi-inquirynow" data-toggle="modal" data-target="#inquire-now" type="button" >{{textdata.Inquire Now}}</button>
            {{/ContextData.Quote.IsValid}}
        </span>

        <div id="book-block" class="module shadow">
            <div class="pd">

                {{#ContextData.Quote.IsValid}}
                    <span class="amenity-value">
                            {{session.searchparams.scheckin}} - {{session.searchparams.scheckout}} <a href="#" data-toggle="modal" data-target="#revisedates" class="pop-up-form-link update">{{textdata.Update}}</a>
                    </span>
                {{/ContextData.Quote.IsValid}}

                <div id="revisedates" class="pop-up-booking-form modal fade" role="dialog" aria-hidden="true">

                    <div class="booking-form">
                        <span class="glyphicons glyphicons-list-alt"></span><span class="update-info-label">{{textdata.Change Info}}</span>
                        <div class="row-fluid">

                            <div class="span6">
                                <label fore="rateblockcheckin">{{textdata.Check-In}}</label>
                                <input id="rateblockcheckin" class="span12 quicksearch datepickercheckin" type="text" placeholder="{{textdata.Check-In}}" value="{{session.searchparams.scheckin}}" data-field="scheckin" required>
                            </div>

                            <div class="span6">
                                <label for="rateblockcheckout">{{textdata.Check-Out}}</label>
                                <input id="rateblockcheckout" class="span12 quicksearch datepickercheckout" type="text" placeholder="{{textdata.Check-Out}}" value="{{session.searchparams.scheckout}}" data-field="scheckout" required>
                                <input style="display:none" class="quicksearch" type="text" value="" data-field="los">
                            </div>

                        </div>

                        <div class="row-fluid">

                            <div class="span6">
                                <label for="rateblockadults">{{textdata.Adults}}</label>
                                <input id="rateblockadults" class="span12 quicksearch adultsfield" type="text" placeholder="{{textdata.Adults}}" value={{#session.searchparams.adults.min}}{{session.searchparams.adults.min}}{{/session.searchparams.adults.min}}{{^session.searchparams.adults.min}}2{{/session.searchparams.adults.min}} data-field="adults[min]" required>
                            </div>

                            <div class="span6">
                                <label for="rateblockchildren">{{textdata.Children}}</label>
                                <input id="rateblockchildren" class="span12 quicksearch childrenfield" type="text" placeholder="{{textdata.Children}}" value={{#session.searchparams.children.min}}
                                    {{session.searchparams.children.min}}
                                {{/session.searchparams.children.min}}
                                    {{^session.searchparams.children.min}}0
                                    {{/session.searchparams.children.min}} data-field="children[min]" required>
                            </div>

                        </div>

                        <button class="btn btn-mini bapi-getquote" data-dismiss="modal"  type="button">{{textdata.Submit}}</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-box">
            {{#ContextData.Quote.IsValid}}
                {{#IsBookable}}
                    <button class="kd-button filled book-now-button primary-fill-color bapi-booknow" type="button">{{textdata.Book Now}}</button>
                    <button class="kd-button inquire-button secondary-fill-color bapi-inquirynow" data-toggle="modal" data-target="#inquire-now" type="button" >{{textdata.Inquire Now}}</button>
                {{/IsBookable}}

                {{^IsBookable}}
                    <button class="kd-button inquire-button secondary-fill-color bapi-inquirynow" data-toggle="modal" data-target="#inquire-now" type="button" >{{textdata.Inquire Now}}</button>
                {{/IsBookable}}
            {{/ContextData.Quote.IsValid}}
        </div>
        {{/result}}
</script>