/*
To update 'Kigo Discovery' font you must extract the downloaded font from 'https://icomoon.io/'
into '/kd-common/fonts' and make sure the resulting folder has the same name.
*/
@import url(../fonts/Kigo-Discovery/style.css);
i {
  line-height: inherit; }

/* Colors */
/* Customizer styles */
/* CKEditor z-index fix */
.cke_dialog_background_cover {
  z-index: 600000 !important; }

.cke_reset_all[role="dialog"], .cke_dialog, .cke_panel {
  z-index: 600001 !important; }

#customize-theme-controls > ul > li[id*="kd_"] > h3.accordion-section-title {
  background-color: rgba(51, 186, 175, 0.5); }
  #customize-theme-controls > ul > li[id*="kd_"] > h3.accordion-section-title:focus {
    background-color: rgba(51, 186, 175, 0.5); }

#customize-theme-controls > ul > li[id*="kd_"]:hover > h3.accordion-section-title {
  background-color: #33baaf; }

.available-widgets-list div[id*="kd_"] {
  background: rgba(51, 186, 175, 0.7); }

.editor-container-html {
  position: relative;
  height: 400px; }

.editor-ace-html {
  margin: 0;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: 100; }

.editor-html-fullscreen {
  position: fixed !important;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5) !important; }

.ace_content.editor-html-fs {
  height: 100% !important; }

/* Sidebars page */
.sidebar-generator * {
  display: inline-block;
  vertical-align: middle; }

.sidebars-container div {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1); }
  .sidebars-container div .button {
    margin-left: 20px; }
  .sidebars-container div span {
    display: block;
    margin-top: 5px; }
  .sidebars-container div .asignee {
    margin-left: 10px; }

/* Sidebar controls */
.sidebar-controls li {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #33baaf;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase; }
  .sidebar-controls li:active, .sidebar-controls li.active {
    background-color: #289289;
    color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15) inset; }

/* Widget controls */
ul.widgetLegend {
  position: relative;
  margin-bottom: 15px;
  font-size: 0; }
  ul.widgetLegend li {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 15px;
    font-size: 13px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    cursor: pointer; }
    ul.widgetLegend li.active::before, ul.widgetLegend li:hover::before {
      border-color: #5b9dd9; }
    ul.widgetLegend li::before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 20px;
      height: 20px;
      border: 3px solid #F1F1F1;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
    ul.widgetLegend li span {
      display: inline-block;
      vertical-align: middle;
      padding-left: 15px;
      line-height: 20px; }
    ul.widgetLegend li[data-type="default"]::before {
      background-color: #fafafa; }
    ul.widgetLegend li[data-type="theme"]::before {
      background-color: #33baaf; }
    ul.widgetLegend li[data-type="kigo"]::before {
      background-color: #f6af33; }

div#widgets-right .widgets-holder-wrap {
  border: none; }
  div#widgets-right .widgets-holder-wrap > div[id] {
    border: 1px solid #e5e5e5; }
  div#widgets-right .widgets-holder-wrap > div[id^="header_"],
  div#widgets-right .widgets-holder-wrap > div[id^="under_"],
  div#widgets-right .widgets-holder-wrap > div[id^="sidebar_"],
  div#widgets-right .widgets-holder-wrap > div[id^="footer_"] {
    display: none;
    border: 1px solid #e5e5e5; }

div#widgets-right.only-pages div.widgets-sortables[id] {
  display: block; }

div#widgets-right.only-pages div.widgets-sortables[id^="header_"],
div#widgets-right.only-pages div.widgets-sortables[id^="sidebar_"],
div#widgets-right.only-pages div.widgets-sortables[id^="under_"],
div#widgets-right.only-pages div.widgets-sortables[id^="footer_"] {
  display: none; }

div#widgets-right.only-header div.widgets-sortables[id] {
  display: none; }

div#widgets-right.only-header div.widgets-sortables[id^="header_"],
div#widgets-right.only-header div.widgets-sortables[id^="under_"] {
  display: block; }

div#widgets-right.only-footer div.widgets-sortables[id] {
  display: none; }

div#widgets-right.only-footer div.widgets-sortables[id^="footer_"] {
  display: block; }

div#widgets-right.only-side div.widgets-sortables[id] {
  display: none; }

div#widgets-right.only-side div.widgets-sortables[id^="sidebar_"] {
  display: block; }

div#widgets-left {
  /*
        '.filter_default' must be defined under '.filter_kigo' & '.filter_theme' for correct functioning
        as we need '.filter_default' to override the other two.
  */ }
  div#widgets-left.filter_theme .widget {
    display: none; }
  div#widgets-left.filter_theme .widget[id*="_kd_"] {
    display: block !important; }
  div#widgets-left.filter_kigo .widget {
    display: none; }
  div#widgets-left.filter_kigo .widget[id*="_bapi_"] {
    display: block !important; }
  div#widgets-left.filter_default .widget {
    display: block; }
  div#widgets-left.filter_default .widget[id*="_kd_"], div#widgets-left.filter_default .widget[id*="_bapi_"] {
    display: none; }
  div#widgets-left #available-widgets .widget {
    float: left;
    width: 50%;
    padding: 0 5px; }
  div#widgets-left #available-widgets .widget:nth-child(odd) {
    clear: none; }
  div#widgets-left #available-widgets .widget:nth-child(even) {
    float: left; }

/* Color widget headers */
#widget-list .widget[id*="_kd_"] .widget-top {
  background-color: rgba(51, 186, 175, 0.3); }

#widget-list .widget[id*="_bapi_"] .widget-top {
  background-color: rgba(246, 175, 51, 0.3); }

#widgets-right .widget[id*="_kd_"] .widget-top {
  background-color: rgba(51, 186, 175, 0.7); }

#widgets-right .widget[id*="_bapi_"] .widget-top {
  background-color: rgba(246, 175, 51, 0.3); }

/* Individual widgets */
.widget-inside select {
  max-width: 100%; }

.widget-inside input[type="text"], .widget-inside textarea {
  width: 100%; }
  .widget-inside input[type="text"].inline, .widget-inside textarea.inline {
    width: auto;
    display: inline-block;
    vertical-align: middle; }

.widget-inside .tab-controls {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  font-size: 0; }
  .widget-inside .tab-controls .tab {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: rgba(51, 186, 175, 0.5);
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer; }
    .widget-inside .tab-controls .tab:hover {
      background-color: rgba(51, 186, 175, 0.75); }
    .widget-inside .tab-controls .tab.active {
      background-color: #33baaf; }

.widget-inside .tab-contents {
  margin-bottom: 10px; }
  .widget-inside .tab-contents .tab {
    display: none; }
    .widget-inside .tab-contents .tab.active {
      display: block; }
    .widget-inside .tab-contents .tab label {
      display: block;
      font-weight: bold;
      margin: 10px 0 5px; }
      .widget-inside .tab-contents .tab label.inline {
        display: inline-block;
        vertical-align: middle;
        font-weight: normal;
        margin-top: 0px; }

.widget-inside .control {
  margin: 10px 0; }
  .widget-inside .control label {
    font-weight: bold;
    margin-bottom: 10px; }

.widget-inside .option-head {
  margin-bottom: 10px; }
  .widget-inside .option-head label {
    margin: 0; }

.widget-inside .option-description {
  display: block; }

/* Button inputs */
.buttonInputs {
  position: relative;
  width: 100%;
  font-size: 0; }
  .buttonInputs .third {
    display: inline-block;
    width: calc(33% - 5px) !important;
    font-size: 12px;
    margin: 0 0 0 5px; }
    .buttonInputs .third:first-of-type {
      margin: 0 5px 0 0; }

/* widget clone blocks */
.widget-inside .clone {
  position: relative;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05); }
  .widget-inside .clone:not(:first-of-type) {
    margin-top: 15px; }
  .widget-inside .clone label:first-of-type {
    margin-top: 0; }
  .widget-inside .clone .create {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #33baaf;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbUlEQVRIS+2VwQ2AMAwDrxPAKGwAo8MGjFImAGWAxHyQUOV8a9nqyWkbenZgTWQHsFUWTfvjAAnJiL5HFIzvImYB5uS8A6fag8pcXk8JYtEcUFIaA1HUtJqo6ZQIrjc1VU3zW6QI+UeThH6O6AH7hSyS65uYYgAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    cursor: pointer; }
    .widget-inside .clone .create:hover {
      background-color: #30aea4; }
    .widget-inside .clone .create:active {
      background-color: #29968d; }

/* Widget media items */
.widget-media .upload_button {
  display: block !important; }

.widget-media-item {
  position: relative;
  display: inline-block;
  width: 33.33333%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: move; }
  .widget-media-item::before {
    display: block;
    padding-bottom: 100%;
    content: ''; }
  .widget-media-item[style*=".mp4)"] {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAB9ElEQVR4Xu1b7U0DMQx9nQA2gA1gA2ASGAEmgRHKJMAGsAFsABOA3CI1PcW1El90etW7P63SJme/+OtdfCsAv9hebwCu/7+XHzb2UhlnGLoB8FoR1MaubHwlAHYW8A7gvoLWJYAnhu2uyGj6mF7Ty/QxvfYsgFTHnNilC+RWIp0tAIogSLqHObEzFvDgBJicRH2zLaA99kzNAODl2B45snO6a5USgB9nR08BXFQkZADgA8C3k9pPsoUQAwBDK0EB4NTZWX/ume/FAFnASDJ0dC7wCWBdsb9zAHekWcD0Mb2ml+ljeqXIEIMFhPFEhVCCC8gCCNKgXCBCQDGgiAFfB9LgLWkafD6QBs9EhpKPxRmygLiAuMDAkyHv0CHKPCN+9w5vmlyglQyNUGTuNYeSobmFXWS9TCG0iMBz31QAJNjg3JuxyHqyAFnArkGilQwtYrKNNx1KhhgOR5sKodYmKZEhgkdisgCxwQY2aOfotZYy6w/YtJRNLoYYYPp4/QGml06GMpUggwWEZYMASJTCsgCCOkAuECFQxgBrKfO6xWtNiAwu4PEV6xbftP5l3hdgAEClsErhhlJYdLjxpamjiwFRxmAkQ6FOKoUTpTDD4ehQCwgXZ/hDxgUY9AtlFACJGBCiy/CHDBdg0G8oFxAABAiEFvAH9DwYECm7vjoAAAAASUVORK5CYII=") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .widget-media-item .delete {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white; }
    .widget-media-item .delete:hover {
      background-color: rgba(255, 0, 0, 0.5); }

/* Widget form size sliders */
.nouislider {
  width: calc(100% - 30px);
  margin: 0 auto 50px; }
  .nouislider.visible {
    display: block; }

.widget-content label[data-type="size"]::before {
  display: inline-block;
  width: 15px;
  content: '+';
  font-size: inherit;
  font-family: inherit; }

.widget-content label[data-type="size"].active::before {
  content: '-'; }

/* ----------------------------------------------- Color Picker */
.wp-picker-container {
  width: 100%; }
  .wp-picker-container .wp-picker-holder {
    padding-right: 6px; }
  .wp-picker-container .wp-picker-input-wrap {
    width: calc(100% - 125px);
    font-size: 0; }
    .wp-picker-container .wp-picker-input-wrap > input {
      display: inline-block;
      width: 45% !important;
      margin-left: 5% !important; }
  .wp-picker-container .iris-picker {
    width: 100%; }
    .wp-picker-container .iris-picker::after {
      display: block;
      content: '';
      padding-bottom: 76%; }

/* ----------------------------------------------- Widget specific */
.kd-image-form .widget-media-item {
  width: 100%;
  height: 150px; }
  .kd-image-form .widget-media-item::before {
    padding-bottom: 0; }

/* ------------------------------------------------ KD Social */
.kd-sn-links {
  padding: 5px;
  border-radius: 5px;
  line-height: 1.5;
  background: #fdfdfd;
  margin-bottom: 25px; }
  .kd-sn-links a {
    color: #33baaf;
    text-decoration: underline; }

/* ------------------------------------------------ Tiny MCE fullscreen z-index */
div.mce-fullscreen, .mce-floatpanel {
  z-index: 99999 !important; }

/* ------------------------------------------------ Social items */
.widget-inside .social {
  font-size: 0; }
  .widget-inside .social input {
    display: inline-block;
    vertical-align: middle; }
  .widget-inside .social input.url {
    width: 60%; }
  .widget-inside .social input.order {
    width: 10%; }
  .widget-inside .social input.icon {
    width: 20%; }
  .widget-inside .social a {
    display: inline-block;
    vertical-align: middle;
    width: 5%;
    margin-left: 10px;
    font-size: 22px; }

/* ---------------------------------------------------------Font preview */
.font-preview {
  font-size: 30px;
  margin: 20px 0 30px 0; }

/* Icon Picker */
.iconPickerWrapper {
  margin-left: 5px; }
  .iconPickerWrapper input {
    display: inline-block;
    width: calc(100% - 35px) !important;
    font-size: 12px;
    margin: 0 0 0 5px; }
  .iconPickerWrapper i[data-holder] {
    font-size: 25px;
    vertical-align: middle;
    margin-left: 5px;
    max-width: 20px; }

.iconpicker-popover {
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
  background-color: white; }
  .iconpicker-popover.popover {
    width: 320px; }
  .iconpicker-popover .popover-title input {
    width: 100%; }
  .iconpicker-popover .iconpicker-item.iconpicker-selected {
    box-shadow: 0 0 0 1px #ddd;
    color: inherit;
    background-color: rgba(51, 186, 175, 0.5); }

/* Kd-featured multi select */
select[id*="kd_featured"] {
  width: 100%; }

/*widget field description */
.kd-widget-field-description {
  padding: 0 0 10px;
  margin: 0;
  font-style: normal;
  color: #666;
  font-size: 12px; }

/* Wider customizer please! */
.wp-full-overlay-sidebar {
  width: 350px; }

.wp-full-overlay.expanded {
  margin-left: 350px; }

/*
Administration option pages.
*/
.kd-options {
  width: 100%;
  padding: 15px;
  box-sizing: border-box; }
  .kd-options.custom_scripts p, .kd-options.custom_styles p {
    margin: 5px 0; }
  .kd-options button {
    float: right;
    background: #33baaf;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer; }
    .kd-options button:hover {
      background: #f6af33; }
  .kd-options .size {
    margin-left: 10px;
    font-size: 12px; }
  .kd-options h5 {
    margin: 0; }
  .kd-options .ace_editor {
    width: 100%;
    height: 500px;
    height: calc(100vh - 400px); }
  .kd-options .disclaimer {
    margin: 15px 0;
    padding: 10px; }

/* kd options panel */
.kd-options-panel {
  /*tabs*/ }
  .kd-options-panel .option-tab-button {
    display: inline-block; }
    .kd-options-panel .option-tab-button a {
      font-size: 14px;
      padding: 10px 20px;
      font-weight: bold;
      display: block;
      color: #fff;
      background: #33baaf;
      text-decoration: none;
      box-shadow: none;
      text-transform: uppercase; }
    .kd-options-panel .option-tab-button.active a, .kd-options-panel .option-tab-button.active a:link, .kd-options-panel .option-tab-button.active a:active {
      background: #f6af33;
      text-decoration: none;
      box-shadow: none; }
  .kd-options-panel .tab-pane {
    display: none; }
    .kd-options-panel .tab-pane.active {
      display: block; }
  .kd-options-panel .kd-properties-hero h1 {
    font-size: 20px;
    margin-bottom: 20px; }
  .kd-options-panel h3 {
    margin-bottom: 0; }
  .kd-options-panel .search-input {
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    width: 100%; }
  .kd-options-panel .ms-selectable, .kd-options-panel .ms-selection {
    background: transparent;
    box-sizing: border-box; }
    .kd-options-panel .ms-selectable .ms-list, .kd-options-panel .ms-selection .ms-list {
      background: #fff;
      padding: 10px;
      border: none; }
  .kd-options-panel .ms-container {
    width: 97% !important;
    margin-top: 20px; }
  .kd-options-panel .kd-button {
    display: block;
    padding: 12px;
    color: currentColor;
    text-transform: uppercase;
    text-align: center;
    outline: 2px solid;
    font-size: 18px;
    text-decoration: none;
    will-change: outline;
    transition: outline .2s;
    border: none;
    cursor: pointer; }
    .kd-options-panel .kd-button:hover, .kd-options-panel .kd-button:focus {
      text-decoration: none;
      color: inherit;
      outline: 4px solid;
      background: #f6af33 !important; }
    .kd-options-panel .kd-button.filled {
      background: #33baaf;
      color: #fff; }
  .kd-options-panel .selectall, .kd-options-panel .deselectall {
    display: inline-block;
    max-width: 200px; }
  .kd-options-panel .custom-header {
    margin-bottom: 10px; }
  .kd-options-panel .fieldset-layout {
    margin-top: 40px;
    margin-bottom: 40px; }
    .kd-options-panel .fieldset-layout label {
      margin-right: 20px; }

.sortable {
  width: "97%";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.sortable.grid {
  overflow: hidden; }

.sortable li {
  list-style: none;
  border: 1px solid #CCC;
  background: #F6F6F6;
  color: #1C94C4;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box; }

.sortable li input {
  width: 100%; }

.sortable.grid li {
  line-height: 80px;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center; }

.handle {
  cursor: move; }

.sortable.connected {
  width: 200px;
  min-height: 100px;
  float: left; }

li.disabled {
  opacity: 0.5; }

li.highlight {
  background: #FEE25F; }

li.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none; }

/* Team CPT Meta-fields */
#team_meta_form label {
  display: block;
  text-transform: capitalize; }

#team_meta_form input {
  width: 100%; }

/* TinyMCE Editor */

/*# sourceMappingURL=maps/admin.css.map */
