/* Crew--------------------------------------------------------------------*/
.kd-crew {
  overflow: hidden;
  .prev-slide {
    float: left;
  }
  .next-slide {
    float: right;
  }
  .prev-slide,
  .next-slide {
    position: relative;
    z-index: 999;
    padding:40px 10px;
    background-color: $secondary-color;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
    &:hover{
      background-color: $primary-color;
    }
  }
}
.crew-member {
  img {
    max-width: 100%;
    margin: auto;
    display: block;
  }
  position: relative;
  text-align: center;
  top: 0;
}

.member-caption{
  width: 100%;
  height: 110px;
  margin: auto;
  padding: 5% 0;
  background-color: #e1e1e1;
  .name {
    color: $primary-color;
    font-weight: bold;
    font-size: 1.1em;
  }
  .charge, .email {
    color: $dark-text;
    font-weight: bold;
    font-size: 1.1em;
  }
}



@media (min-width:992px) {
  /* Crew block -------------------------------------------------------------*/
  .crew-member {
    width: 20%;
    box-sizing: border-box;
    padding: 0 15px 0 0;
    position: relative;
    &:first-child {
      //margin-left: 15px;
    }
    &:hover {
      .member-caption {
        opacity: 1;
      }
    }
  }
  .prev-slide,
  .next-slide {
    display: none;
  }
  .member-caption {
    opacity: 0;
    top: auto;
    bottom:0;
    position: absolute;
    width: 95%;
    left: 0;
    right: auto;
    margin: auto;
    background: rgba(0,0,0,0.8);
    .charge, .email {
      color: #fff;
      a {
        color:#fff;
      }
    }
  }
}
