/* team--------------------------------------------------------------------*/
.kd-team {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  transition: opacity 3s;

  .swiper-wrapper{
    height: auto;
    width: 100%;
    will-change: transform;
  }

  /* Slide states */
  .swiper-slide{
    .member-caption{
      transform: translateY(50px);
      opacity: 0;
    }
  }
  .swiper-slide-active{
    .member-caption{
      transform: translateY(0px);
      opacity: 1;
    }
  }

  /* Slider constrols */
  .prev-slide,
  .next-slide {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 999;
    padding: 40px 10px;
    background-color: $secondary-color;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
    &:hover{
      background-color: $primary-color;
    }
  }
  .next-slide{
    right: 0;
    left: auto;
  }

  /* Team member */

  .team-member {
    position: relative;
    height: auto;
    text-align: center;
    cursor: pointer;
    z-index: 1;


    .image{
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60%;
      background-image: url('../img/user.svg');
      transform: translate3d(0,0,0); //Fix dissappearing images on slide

      &::after{
        padding-bottom: 100%;
        content: '';
        display: block;
        width: 100%;
      }
    }
  }

  .member-caption{
    width: 100%;
    height: 110px;
    margin: auto;
    will-change: transform, opacity;
    transition: opacity .33s ease .2s, transform .33s ease .2s;

    .name {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0;

      &:hover{
        text-decoration: underline;
      }
    }
    .charge, .email {
      font-family: "Open Sans";
      font-size: 12px;
    }
    .email{
      text-decoration: underline;
    }
  }

  @media (min-width: 780px) {
    .swiper-slide{
      .member-caption{
        transform: translateY(0px);
        opacity: 1;
      }
    }


    .next-slide{
      right: 15px;
    }

  }

  @media (min-width: 992px) {
    .team-member {
      display: inline-block;
      box-sizing: border-box;
      padding: 0;
      margin-bottom: 20px;

      &.is_list{
        padding: 10px;
      }

      &:hover{
        .image{

        }
      }
    }

    .prev-slide, .next-slide {
      bottom: 0;
      background-color: transparent;
      color: black;
      width: 40px;
      height: 40px;
      border: 1px solid transparent;
      padding: 0;
      text-align: center;
      line-height: 40px;

      &:hover{
        border-colo: black;
      }
      &:active{
        background-color: rgba($primary-color, .5);
      }
    }

    .member-caption {
      width: 100%;
      height: auto;
      margin: auto;
      padding: 10px 0;

      .name{
        margin-top: 0;
      }
    }
  }
}
